{% extends "base.html"%}
{% load static %}
{% block myblock %}

    <style>
        .a{
            background-image:url(/static/sgu3.jpg);
            height: 600px;
            width: 100%;
            background-position: no-repeat;
            background-size: cover;
            margin-top: 25px;
        }
       
        .b{
            text-align: center;
            color: white;
        }
        #c{
            margin: px;padding-top:100px ;
        }
        .d{
            text-align:center;
            
        }
        .btn:hover

{
 color:white;
 border: 2px solid white;
 background: none;

}
#af{
          margin: 70px;
      }
      .ag{
          font-size: 20px;
      }
      .ah{
          font-size: 17px;
          margin-top: 50px;
      }
      .ai{
          font-size: 13px;
          margin-top: 10px;
      }
      .aj{
          text-align: center;
          margin-top: 50px;
      }
      .aj{
          text-align: center;
          margin-top: 50px;
      }
      .ak{
        background-color: red;
      }
      .al{
        
          height: 400px;
          width: 100%;
          background-image: url(/static/alch.jpg);
          margin-top: 20px;
      }
      .am{
          height: 400px;
          width: 100%;
          background-image: url(/static/alch1.jpg);
          margin-left: 10px;
          margin-top: 20px;
        
      }
      .am:hover{
          opacity: 0.7;
    
      }
      .al:hover{
          opacity: 0.7;

      }
      .an{
          text-align: center;
          margin-top: 50px;
          
          

      }
      .btn:hover{
        
        
        background:grey;
      }
      .ao{
          text-align: center;
          margin-top: 100px;}
      .ap{
          text-align: center;
          margin-top: 20px;
          font-size: 25px;
          }
      .aq{
        height:50px;
        width: 50px;
        border-radius: 50px;
        text-align: center;
        margin-left: 120px;
        margin-top: 50px;
        
      }
      .ar{
        height:50px;
        width: 50px;
        border-radius: 50px;
        text-align: center;
        margin-left: 120px;
        margin-top: 50px;
      }
      .as{
        height:50px;
        width: 50px;
        border-radius: 50px;
        text-align: center;
        
        margin-top: 50px;
        text-align: center;
        margin-left: 120px;
      }
      .at{
          text-align: justify;
      }
      .bc{
        height: 250px;width: 100%; background-color:#ff5722;
        border-radius: 50px;
        
       }
       .bd{
           text-align: center;
           word-spacing: 20px;
           font-size: 20px;
           
       }
       .be{
           margin-top: 50px;
           word-spacing: 10px;
       }
       .acc{
                font-size: 70px;
                display: inline-block;
                margin: 10px;
            }
      .add{
          display: inline-block;
          color: black;
      }
      .aee{
          margin-left: 80px;
      }
    </style>
</head>
<body>
    <div class="container-fluid">       
        <div class="row">
            <div class="col-md-12">
                <div class="a">
                    <h1 class="b" id="c" style="color: black;">WE ARE <strong>NON-PROFIT</strong> </h1>
                    <div class="text-center"><a href="{% url 'signin'%}"  class="btn btn-lg btn-primary mt-5">DONNATE NOW</a> </div>
                    

                </div>

            </div>
        </div>

        <div id="fh5co-feature-product" class="fh5co-section-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center heading-section">
                        <h3>Objective of Charity Hub</h3>
                        <p></p>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">
                    <div class="col-md-12 text-center animate-box">
                        <p>
                            Charity Hub, registered on January 2019, is engaged exclusively in social & educational activities with a dire stress on removal of illiteracy and helping the aged and destitute women.
        
                            The Foremost aim of the trust is fulfillment of aspirations of the down-trodden, removal of illiteracy, to provide medial-aid to those who are not able to arrange monitory support for the treatment of various diseases. We have also undertaken voluntarily removal of illiteracy by arranging seminars in urban and more especially in Rustic areas. The Trust also endeavors to create awareness regarding terminal diseases like AIDS and Cancer by creating awareness. It manages its affairs exclusively from the funds donated by individuals, voluntary organizations & firms. All donations being given to the Charity Hub.	
                        </p>
                    </div>
                </div>	
            </div>
        </div>
    <!-- <div class="container bg-light ">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" id="af">How We Started</h1>
                <p class="text-center ag ">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

            </div>
            <div style="background: red;height: 3px;width:70px;" class="rounded mx-auto"></div>
        </div>

    </div> -->
    <div class="container bg-light">
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-12">
                <img src="{% static 'ch3.jpg'%}" alt="" style="height: 100%;width: 100%; ">
            </div>
        </div>
        
      
          <div class="row">
              <div class="col-md-6">
                  <img src="{% static 'ch1.jpg'%}" alt="" style="width:100%;height:100%;margin: 5px;">

              </div>
            <div class="col-md-6">
                <img src="{% static 'ch2.jpg'%}" alt="" style="width: 100%;height: 100%;margin: 5px;">
            </div>  
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 pt-5"><span class="icon"></span><i class="fas fa-user acc"></i></span><h5 class="add"> BECOME A VOLONTEER</h5>
                        <p class="aee">To inspire breakthroughs in the way the world treats children and to achieve immediate and lasting change.</p>
                        
                    </div>
                    <div class="col-md-4 pt-5"><span class="icon"><i class="fas fa-smile acc"></i></span><h5 class="add"> 100% HELP & SUPPORT</h5>
                        <p class="aee">Nearly 1.73 million children die in India every year due to lack of treatment. We work with communities...</p>
                        
                    </div>
                    <div class="col-md-4 pt-5"><span class="icon"><i class="fas fa-wallet acc"></i> </span><h5 class="add">DONATION</h5>
                        <p class="aee">You can help save a life, donate now. We rely entirely on voluntary donations from people like you to help...</p>
                        
                    </div>
                </div>
        
</div>
            <!-- <div class="row">
                <div class="col-md-4" >
                    <h4 class="ah">LOVE</h4>
                    <p class="ai">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci deleniti aliquid eaque ipsa corporis hic voluptas soluta ad cumque veritatis. Amet voluptatum porro dolorem quasi magnam esse explicabo quod doloribus.</p>

                </div>
                <div class="col-md-4">
                    <h4 class="ah">COMPASSION</h4>
                    <p class="ai">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cum commodi, aut porro neque totam ullam temporibus nemo corporis dolorem sapiente, amet quidem fuga quam officiis suscipit dicta, quaerat maiores!</p>

                </div>
                <div class="col-md-4">
                    <h4 class="ah">CHARITY</h4>
                    <p class="ai">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cum commodi, aut porro neque totam ullam temporibus nemo corporis dolorem sapiente, amet quidem fuga quam officiis suscipit dicta, quaerat maiores!</p>

                </div>
            </div> -->
            <!-- <div id="fh5co-portfolio">
                <div class="container">
            
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
                            <h3>Our Gallery</h3>
                            <p>Here is our gallery. It may let you trust on Us!!!</p>
                        </div>
                    </div>	
                    <div class="row row-bottom-padded-md" id="gallery">
                        <div class="col-md-12">
                            <ul id="fh5co-portfolio-list">
                                {% for i in gallery %}
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/media/{{i}}); ">
                                <a href="/media//{{i}}" class="color-6">
                                &nbsp;
                                </a>
                                </li>
                                {% endfor %}
                            </ul>		
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aj">
                            <h1>Our Gallary</h1>
                            <p style="font-size: 20px;">Here is our gallery. It may let you trust on Us!!!</p>
                        </div>
                          
                    </div>
                    <div style="background: red;height: 3px;width:70px;" class="rounded mx-auto"></div>
                </div>
                
              </div>
              <div class="container mt-5">
                  <div class="row">
                      <div class="col-md-7 al">
                             
                              <p style="font-size: 30px; margin-top: 280px; color: white;"> Giving Love</br>Donation Is Caring</p>
                           </div>
                          
                       
                      
                      <div class="col-md-4 am">
                          <p style="font-size: 30px; margin-top: 280px; color: white;"> Giving Love</br>Donation Is Caring</p>
                      </div>
                      </div>
        
              </div>
              <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-4 al">
                          <p style="font-size: 30px; margin-top: 280px; color: white;"> Giving Love</br>Donation Is Caring</p>
                      </div>
                      <div class="col-md-7 am">
                          <p style="font-size: 30px; margin-top: 280px; color: white;"> Giving Love</br>Donation Is Caring</p>
                      </div>
      
                        </div>
                        
                       <div class="an">
                            <a href="" class="btn btn-lg btn-danger">See Gallary</a>
                            
                            
                        </div> 

                        
      
          </div>
          <!-- <div id="fh5co-portfolio">
            <div class="container">
        
                <div class="row">
                    <div class="col-md-12 col-md-offset-3 text-center heading-section animate-box">
                        <h3>Our Gallery</h3>
                        <p>Here is our gallery. It may let you trust on Us!!!</p>
                    </div>
                </div>	
                <div class="row row-bottom-padded-md" id="gallery">
                    <div class="col-md-12">
                        <ul id="fh5co-portfolio-list">
                            {% for i in gallery %}
                            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/media/{{i}}); ">
                            <a href="/media//{{i}}" class="color-6">
                            &nbsp;
                            </a>
                            </li>
                            {% endfor %}
                        </ul>		
                    </div>
                </div>
            </div>
        </div>
         -->

          
           <div class="container bg-light mt-5">
            
    
        </div>
        <div class="container">
            <div class="row">
                
                
                       
                            <div class="col-md-4">
                                <div class="fh5co-team text-center animate-box">
                                    <figure>
                                        <img src="{% static 'person_1.jpg'%}" alt="user"style="height: 300px;width: 100%;border-radius: 50%;">
                                    </figure>
                
                                    <div>
                                        <h3>Miss Jenny Jenifer</h3>
                                        <p><span>Own Business(Joint Secretary)</span></p>
                                        <p>Excecutive member of various other Non profit Organizations</p>
                                    </div>
                                </div>
                            </div>
                      
                   
                        <div class="col-md-4">
                            <div class="fh5co-team text-center animate-box">
                                <figure>
                                    <img src="{% static 'client_2.jpg'%}" alt="user"style="height: 300px;width: 100%;border-radius: 50%;">
                                </figure>
                                <div>
                                    <h3>Miss Amandeep Kaur</h3>
                                    <p><span>Auditor (Working it Field)</span></p>
                                    <p>She is an very active and honest member of our society.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fh5co-team text-center animate-box">
                                <figure>
                                    <img src="{% static 'download.jfif'%}" alt="user" style="height: 300px;width: 100%;border-radius: 50%;">
                                </figure>
                                <div>
                                    <h3>Mr.Manoj Kumar</h3>
                                    <p><span> Sr. Business Manager </span></p>
                                    <p>
                                        His goal to "seek a world of hope, tolerance and social justice"
                                    </p>
                                </div>
                                
                            </div>
                        </div>
            </div>
        </div>
    </div>
        <!-- <div id="fh5co-content-section" class="fh5co-section-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-2 text-center heading-section animate-box">
                        <h3 style="text-align: center;">Leadership</h3 s>
                        <p style="text-align: center;">Here are all executive members of Charity Hub.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fh5co-team text-center animate-box">
                            <figure>
                                <img src="{% static 'person_1.jpg'%}" alt="user">
                            </figure>
        
                            <div>
                                <h3>Miss Jenny Jenifer</h3>
                                <p><span>Own Business(Joint Secretary)</span></p>
                                <p>Excecutive member of various other Non profit Organizations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-team text-center animate-box">
                            <figure>
                                <img src="{% static 'person_2.jpg'%}" alt="user">
                            </figure>
                            <div>
                                <h3>Miss Kiran Johal</h3>
                                <p><span>Auditor (Working it Field)</span></p>
                                <p>She is an very active and honest member of our society.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-team text-center animate-box">
                            <figure>
                                <img src="{% static 'person_3.jpg'%}" alt="user">
                            </figure>
                            <div>
                                <h3>Mr. Ramesh Goyal</h3>
                                <p><span>Business Man (Gen Secretary)</span></p>
                                <p>
                                    His goyal to "seek a world of hope, tolerance and social justice"
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
{% endblock %}