<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script src="{%static 'javascript.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'icon/css/all.min.css'%}">
    <style>
        img{
            width: 100%;
        }
    </style>
</head>
<body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 p-0">
              <nav class="navbar navbar-expand bg-dark navbar-dark">
                  <a href="" class="navbar-brand">My Website</a>
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a href="{% url 'home' %}" class="nav-link">Home</a>
                          <a href="{% url 'about' %}" class="nav-link">Home</a>
                          <a href="{% url 'contact' %}" class="nav-link">Home</a>
                          <a href="{% url 'signin' %}" class="nav-link">Home</a>
                          <a href="{% url 'signup' %}" class="nav-link">Home</a>
                         
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link">About</a>
                       
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Contact</a>
                       
                    </li>
                  </ul>
              </nav>
            </div>
              
        
        
        </div>
        {%  block myblock%}


        {% endblock %}

        <div class="row bg-dark p-5 text-white">
            <div class="col-md-4" style="border-right:2px solid white">
                <h4>Lorem Ipsum</h4>
                <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos eveniet aperiam harum blanditiis voluptate vel iusto, repellendus id? Quae asperiores cum at dolor incidunt quis, illum temporibus tempora exercitationem aliquid!</small>
            </div>
            <div class="col-md-4" style="border-right:2px solid white">
                <ul>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                    <li>Link 4</li>
                </ul>

            </div>
            <div class="col-md-4" style="border-right:2px solid white">
                <ul>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                    <li>Link 4</li>
                </ul>

          

          

      </div>

  </div>
</body>
</html>