<!DOCTYPE html>
{% load static %}
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity Hub</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href=" {% static 'icon/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/animate.css'%}">
    <script src="{% static 'javascript.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
	
<head>
 <style>
        .zyx{
            padding: 0px;
            margin: 0px;
        }
      .header{
          text-align: center;
          line-height: 50px;
          color:white;
      }
      a{
          color:#ff5722;;
;   
      }
      a:hover{
        text-decoration: none;
        color:green;
      }
      #nav{
          position:sticky;
          top:0%;
         }
    
         h5{
            border-bottom:3px solid #4caf50;
             margin-bottom: 50px;
             padding:  20px 0; color:white;
             }
       
     .foot{
         background-color: rgba(0, 0, 0, 1);
            color:white;
           
            height:150px;
            Width:100%;
            line-height:100px;
        }
         .mp {
            padding:15px;border-radius: 5px;border:none;
            position:absolute;width:80%;
        }
        .z{
            position:relative; background-color: #4caf50;
            border-radius: 0 5px 5px 0;
            color:white; padding: 15px; border:none; float:right;
           
        } 
       .icons i{
            padding:10px;
            background-color:darkgray;
            border-radius: 50%; color:white;
        }
        .icons i:hover{
            background-color:#4caf50;
        }
        i{
            padding:5px; font-size:20px ;
            color:darkgray
        }
          form{margin-bottom:107px}
          .page{
              word-spacing: 10px;
          }
          .dropdown{
              position:relative;z-index:999999999999999999999999999999;
          }
         h1{position:relative;z-index:-1;}
    </style>

</head>
<body class="zyx">
   <div class="container-fluid">
       <div class="row header  "  style="background-color: #ff5722;">
       <div class="col-sm-5">
       <nav>
        <i class="far fa-envelope"style="color: gray;"></i>
           <a href="" style="color:white;">manoj7215s@gmail.com</a>
           <i class="fas fa-headphones"style="color: gray;"></i>
           <a href=""style="color: white;">+919416463972</a>
       </nav>
       </div>
       <div class="icons">
       <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
       <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
       <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
       <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="col-sm-4 page" style="font-family: chiller;">
        {% if user.is_authenticated %}
        <a href="{% url 'cust_dashboard'%}" class="btn  btn-outline-light yz">Welcome {{user.username}}</a>
        <a class=" btn  btn-outline-light  yz  m-2  " href="{% url 'user_logout' %}" ><i class="fas fa-sign-out-alt text-white"></i>Logout</a>
        {% else %}
        <a  class="btn btn-secondary btn-outline-light btn-lg m-2 float-right" href="{% url 'signup' %}" >Signup</a>
        <a  class=" btn btn-secondary btn-outline-light btn-lg  m-2 float-right" href="{% url 'signin' %}" >Signin</a>            
    
</div>
{% endif %}

        </div>
    </div>
</div>
      
   </div>
</div>
   <div class="container-fluid" > 
    <div class="row" id="nav"style="background-color: #ff5722;">
        <div class="col-md-12 px-0" >
          
           <nav class="navbar navbar-expand-md navbar-white bg-white">
    <a href="#" class="navbar-brand">
       <img <img src="{% static 'loggo.jpg'%}" style="background: rgba(255, 255, 255, 0.9);height: 200px;width: 200px;">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarCollapse" style="margin-bottom:100px;">
        <div class="navbar-nav mx-auto">
                  <a href="{% url 'home' %}" class="nav-item nav-link active" style="font-size: 30px; font-family:bold;">Home</a>
                  <a href="{% url 'about' %}" class="nav-item nav-link active"style="font-size: 30px; font-family:bold;">About</a>
                  <a href="{% url 'contact' %}" class="nav-item nav-link active"style="font-size: 30px; font-family:bold;">Contact Us</a>
                   
   
                <li class="dropdown">
                    <a href="" class="worklist nav-link dropdown-toggle"  data-toggle="dropdown" style="font-size: 30px;font-family:bold;">Scope of Work</a>
                    <ul  class="dropdown-menu " style="position:absolute;z-index:99999999999999999999999999999999999;">
                        {% for i in works %}
                        <li class="dropdown-item"><a href="{% url 'scope'%}?id={{i.id}}" style="z-index:99999999999999999999999999999999999;">{{i.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'become_volunteer'%}" class="nav-item nav-link active"style="font-size: 30px;font-family:bold;">Become a Volunteer</a>
                </li>
                
                  <!-- <li class="nav-item dropdown ">
                  <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                  <div class="dropdown-menu">
                     {% for c in category %}
                     <a href="" class="dropdown-item">{{c.category}}</a>
                     {% endfor %}

                  </div>
                </li> -->
                  
                  
                
                  
        </div>
        
    </div>
</nav>
<h1 style="text-align: center;font-family: Chiller; color: white;">Charity Hub
   
    <!-- {% if user.is_authenticated %}
    <a href="{% url 'cust_dashboard'%}" class="btn btn-outline-light float-right m-2 btn-lg ">Welcome {{user.username}}</a>
    <a class=" btn btn-success btn-outline-light btn-lg   m-2 float-right " href="{% url 'user_logout' %}" >Logout</a>

    {% else %}
    <a  class="btn btn-success btn-outline-light btn-lg m-2 float-right" href="{% url 'signup' %}" >Signup</a>
    <a  class=" btn btn-success btn-outline-light btn-lg  m-2 float-right" href="{% url 'signin' %}" >Signin</a>            

    {% endif %}   -->
</h1>
                  


   </div>
    </div>
   </div> 
   {% block myblock %}

   {% endblock %}
 
         
 <div class="container-fluid text-muted  " style="background:#ff5722;" >
     <div class="row">
         <div class="col-md-3">
             <h5 style="color: white;">Charity</h5>
             <p class="text-justify"style="color: white;">The practice of charity means the voluntary
                 giving of help to those in need, as a humanitarian act. There are a number of philosophies about 
                 charity, often associated with religion. Effective altruism is the 
                use of evidence and reasoning to determine the most effective ways to help others
                 </p>
                <div class="icons">
                    <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>  
                </div>
           <div class="col-md-3">
               <h5 style="color: white;">Contact Us</h5>
                  <a href=""><i class="fas fa-headphones"style="color: white;"></i><span style="color: white;">+919416463972</span></a><br/>
                   <a href=""><i class="far fa-envelope"style="color: white;"></i><span style="color: white;">manoj7215s@gmail.com</span></a >
                     <p><i class="fas fa-map-marker-alt"style="color: white;"></i><span style="color: white;">585,Near Post Office Jamal<br/>Sirsa,Haryana</span></p>                        
           </div>
             <div class="col-md-3"style="color: white;">
                 <h5 style="color: white;">Quick links</h5>
                 <p style="color: white;"><a href="{% url 'home' %}"> <span style="color: white;">Home</span></a></p>
                 <p style="color: white;"><a href="{% url 'about' %}"><span style="color: white;">About</span> </a></p>
                 <p style="color: white;"><a href="{% url 'contact' %}"><span style="color: white;">Contact Us</span></a></p>
                 <p style="color: white;"><a href="{% url 'signin' %}"><span style="color: white;">Login</span></a></p>
                 <p style="color: white;"><a href="{% url 'signup' %}"><span style="color: white;">Sign Up</span></a></p>
             </div>
               <div class="col-md-3"style="color: white;">
                    <h5 style="color: white;">Newslatter</h5>
                    <p style="color: white;">Subscribe to get update and information.<br/>Don't worry, we won't send spam!</p>
                  <form>
                    <input type="text" placeholder="Enter your email"style="color: white; " class="mp">
                    <button class="z"style="color: white;">Subscribe</button>
                </form> 
                </div>
               </div>
    </div>
        </div>
        <!-- <footer>
        <div class="container-fluid foot bg-#ff5722" style="color: white;">
            <div class="row">
            <div class="col-md-12 align-center"style="color: white;">
                <div class="footer text-center"style="color: white;">
                    <h3 style="color:white;" class="mt-3">Made With <i class="far fa-heart" style="font-size:30px;"></i> By Manoj Sharma</h3>
                    <p class=" mb-3">& copyright 2020 .All rights reserved</p>
                    
                </div>
                
            </div>
        </div>
    </div>
</footer> -->
               
 
</body>
</html>
</body>

</html>