{% extends "base.html"%}
{% load static %}
{% block myblock %}

    <style>
        .az{
            background-image: url(/static/confon.jpg);
            
            text-align: center;
            margin-top: 25px;
            color: white;
        }
        .b{
            margin-top: 50px;
            font-family: elephant;
            font-weight: 10px;
            
            
        }
        .c{
            margin-left:30px;
            font-size: 20px;
            font-weight: 20;
            font-family: 'Gill Sans';
        }
        .ab{
            margin: 100px;
        }
        .ac{
            text-align: center;
            font-size: 15px;
            
            font-style: italic;
        }
        .ad{
        
            margin-top: 20px;
            
        }
     
        .i{
        width: 90%;height:25px;padding:20px ;margin-left: 0px;
       }
 
        
    </style>
</head>
<body>
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-12">
                <div class="az py-1" style=" background: rgba(0,0,blue,0.5); height: 500px;">
                    <h1>Contact Us For Any Query</h1>
                </div>
                
            </div>
            <div class="col-md-4 b">
                <h2 <i class="fas fa-mobile-alt"></i>  9416463972</h2>
                <p class="c">(Call 8AM to 5PM)</p>
            </div>
            <div class="col-md-4 b" style="font-style: bold;">
                <h2 <i class="far fa-envelope"></i>  support@charityhub.com</h2>
                <p class="c">(Call 8AM to 5PM)</p>
            </div>
            <div class="col-md-4 b">
                <h2 <i class="fas fa-map-marker-alt"></i> Sirsa Haryana,India</h2>
                <p class="c">(585,Near Post Office,Jamal)</p>
            </div>

        </div>
        


    </div>
    <div class="container bg-light">
        <div class="row">
            
            <div class="col-md-3"></div>
                <div class="col-md-7">
                    
                <h1 class="ab">Send Massage</h1>
                <div class="col-md-9">
                    <hr class="bg-success">
                </div>
                
            </div>
            
        </div>

        </div>
        <div class="container">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 ac mt-5">
        <p>Charity Hub is a non-profit orgnization, you can find and contact us on the given numbers or address.
            Come anytime and donate for needy peoples!!</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-light" style="width:80%">
    <div class="row">
        <div class="col-md-12">
            
        </div>
<div class="col-md-6 pt-5">                 
    <iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d13914.582848736987!2d74.98509352146006!3d29.32206647304546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m4!2s29.332214%2C74.981694!3m2!1d29.332213999999997!2d74.98169399999999!4m5!1s0x3911557bae26c4cf%3A0xaca63a0a36351b4d!2sJamal-Sirsa%20Rd%2C%20Haryana%20125110!3m2!1d29.3112744!2d75.0060069!5e0!3m2!1sen!2sin!4v1586697807900!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
                 <div class="col-md-6 ">
                        <form action="" method="POST">
                            {% csrf_token %}
                        <div class="form-group pt-5">
                            <input type="text" placeholder=" Enter your name" name="name" class="form-control i ">
                            </div>
                            <div class="form-group pt-5">
                                <input type="text" placeholder=" contact_number" name="contact" class="form-control i ">
                                </div>
                                <div class="form-group pt-5">
                                    <input type="text" placeholder=" Enter Subject..." name="subject" class="form-control i ">
                                    </div>
                               
                            <div class="form-group pt-5" >
                                        <textarea id="" rows="9" placeholder="Message" name="message" class="form-control i " style="height:150px;width:90%;"></textarea>
                                        </div>
                             <div class="form-group p-2 ">
                                         <input type="submit" value="Send Message" class="btn  btn-success ">
                                </div>
                            </form>
                            </div>
                        </div>
</div>
</div>
</div>      

    {% if status %}
<script>
    alert("{{status}}");
</script>
{% endif %}
{% endblock %}