
{% extends "base.html"%}
{% load static %}
{% block myblock %}


    
    <title>CHARITY HUB</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    
    <link rel="stylesheet" href="{% static 'icon/css/all.min.css'%}">
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}">
    <script src="{%static 'javascript.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'css1/animate.css'%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css1/icomoon.css'%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css1/bootstrap.css'%}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'css1/superfish.css'%}">

	<link rel="stylesheet" href="{% static 'css1/style.css'%}">
    <style>
        .ab{
            font-family: Chiller;
            font-size: 30px;
            margin-left: 20px;
           
            }
            .ac{
                font-size: 70px;
                display: inline-block;
                margin: 10px;
            }
      .ad{
          display: inline-block;
          color: black;
      }
      .ae{
          margin-left: 80px;
      }
      #af{
          margin: 70px;
      }
      .ag{
          font-size: 20px;
      }
      .ah{
          font-size: 17px;
          margin-top: 50px;
      }
      .ai{
          font-size: 13px;
          margin-top: 10px;
      }
      .aj{
          text-align: center;
          margin-top: 50px;
      }
      .ak{
        background-color: red;
      }
      .al{
        
          height: 400px;
          width: 100%;
          background-image: url(/static/alch.jpg);
          margin-top: 20px;
      }
      .am{
          height: 400px;
          width: 100%;
          background-image: url(/static/alch1.jpg);
         
          margin-left: 10px;
          margin-top: 20px;
        
      }
      .am:hover{
          opacity: 0.7;
          
    
      }
      .al:hover{
          opacity: 0.7;

      }
      .an{
          text-align: center;
          margin-top: 50px;
          
          

      }
      .btn:hover{
        
        
        background:grey;
      }
      .ao{
          text-align: center;
          margin-top: 100px;
          color: black;
      }
      .ap{
          text-align: center;
          margin-top: 20px;
          font-size: 25px;
      }
      .aq{
        height:50px;
        width: 50px;
        border-radius: 50px;
        text-align: center;
        margin-left: 120px;
        margin-top: 50px;
        
      }
      .ar{
        height:50px;
        width: 50px;
        border-radius: 50px;
        text-align: center;
        margin-left: 120px;
        margin-top: 50px;
      }
      .as{
        height:50px;
        width: 50px;
        border-radius: 50px;
        text-align: center;
        
        margin-top: 50px;
        text-align: center;
        margin-left: 120px;
      }
      .at{
          text-align: justify;
      }
      .au{
          text-align: center;

      }
      .av{
          text-align: center;
          font-size: 20px;
      }
      .aw{
          text-align: center;
          color: red;
      }
      .ax{
          text-align: justify;
          font-size: 15px;
          margin-top: 15px;
          
      }
          
      }
      .ba{
          height: 100%;
          width: 100%;
      }
      .bb{
          text-align: center;
      }
      
       .bd{
           text-align: center;
           word-spacing: 20px;
           font-size: 20px;
           
       }
       .myimg{
           height: 300px;
           
           
       }
       .box1:hover{
                    height: 100%;
                    width: 100%;
                   background:  rgba(0,0,0,0.5);
                   color: white;
       }
    
    </style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
            
            </div>
            <div class="col-md-12 px-0">
                        <div class="carousel slide" data-ride="carousel" id="myslider">
                            <ul class="carousel-indicators">
                                <li data-target="#mslider" data-slide-to="0" class="active" ></li>
                                <li data-target="#myslider" data-slide-to="1" ></li>
                                <li data-target="#myslider" data-slide-to="2"></li>
                                <li data-target="#myslider" data-slide-to="3"></li>
                                <li data-target="#myslider" data-slide-to="4"></li>
                                <li data-target="#myslider" data-slide-to="5"></li>
                                <li data-target="#myslider" data-slide-to="6"></li>
                                <li data-target="#myslider" data-slide-to="7"></li>
                                <li data-target="#myslider" data-slide-to="8"></li>
                                <li data-target="#myslider" data-slide-to="9"></li>
        
                            </ul>
                            <div class="carousel-inner">
                                
                                    <div class="carousel-item active">
                                    <img src="{% static 'c11.png'%}" height="500" width="100%">
                                </div>
                                <div class="carousel-item">
                                 <img src="{% static 'c9.jpg'%}" height="500" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'newchd.jpg'%}" height="500" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'c3.jpg'%}" height="500" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'c4.jpg'%}" height="500" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'c5.jpg'%}" height="500" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'c8.jpg'%}" height="500" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'newhd1.jpg'%}" height="500" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'c1.jpg'%}" height="500" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'c7.jpg'%}" height="500" width="100%">
                                </div>
                            </div>
                            </div>
                
                            <a href="#myslider" class="carousel-control-prev" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a href="#myslider" class="carousel-control-next" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
    </div>
    <div class="container">
                    <div class="row">
                        <div class="col-md-4 pt-5"><span class="icon"></span><i class="fas fa-user ac"></i></span><h5 class="ad"> BECOME A VOLONTEER</h5>
                            <p class="ae">To inspire breakthroughs in the way the world treats children and to achieve immediate and lasting change.</p>
                            
                        </div>
                        <div class="col-md-4 pt-5"><span class="icon"><i class="fas fa-smile ac"></i></span><h5 class="ad"> 100% HELP & SUPPORT</h5>
                            <p class="ae">Nearly 1.73 million children die in India every year due to lack of treatment. We work with communities...</p>
                            
                        </div>
                        <div class="col-md-4 pt-5"><span class="icon"><i class="fas fa-wallet ac"></i> </span><h5 class="ad">DONATION</h5>
                            <p class="ae">You can help save a life, donate now. We rely entirely on voluntary donations from people like you to help...</p>
                            
                        </div>
                    </div>
            
    </div>
    <div class="container-fluid bg-light ">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" id="af">Our Scope of work</h1>
                <p class="text-center ag ">We helps people at different phases of life. Some of theses are described below</p>

            </div>
            <div style="background: red;height: 3px;width:70px;" class="rounded mx-auto"></div>
        </div>

    </div>
    <div class="container-fluid bg-light">
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-12">
                <img src="{% static ''%}ch3.jpg" alt="" style="height: 100%;width: 100%; ">
            </div>
        </div>
        
      
          <div class="row">
              <div class="col-md-6">
                  <img src="{% static ''%}ch1.jpg" alt="" style="width:100%;height:100%;margin: 5px;">

              </div>
            <div class="col-md-6">
                <img src="{% static ''%}ch2.jpg" alt="" style="width: 100%;height: 100%;margin: 5px;">
            </div>  
            </div>
            <div class="row">
                <div class="col-md-4" >
                    <h4 class="ah">Poor Child Education</h4>
                    <p class="ai">Every children has right to get better education as it is an important tool that enables them to make wise decisions that affects their lives as well as improves their social status.</p>

                </div>
                <div class="col-md-4">
                    <h4 class="ah">Health</h4>
                    <p class="ai">Good health is not something we can buy. However, it can be an extremely valuable savings account.
						India still struggling to provide basic health care facilities to its citizens.</p>

                </div>
                <div class="col-md-4">
                    <h4 class="ah">Women Empowerment</h4>
                    <p class="ai">"Women Empowerment" is a burning issue all over the world. It refers to increasing and improving the social, economic, political and legal strength of the women, to ensure equal-right to women.</p>

                </div>
            </div>
          

    </div>
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="aj">
                      <h1>Our Gallary</h1>
                     
                  </div>
                    
              </div>
              <div style="background: red;height: 3px;width:70px;" class="rounded mx-auto"></div>
          </div>
          
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-7 al">
                       
                        <p style="font-size: 30px; margin-top: 280px; color: white;"> Giving Love</br>Donation Is Caring</p>
                     </div>
                    
                 
                
                <div class="col-md-4 am">
                    <p style="font-size: 30px; margin-top: 280px; color: white;"> Giving Love</br>Donation Is Caring</p>
                </div>
                </div>
  
        </div>
        <div class="container mt-3">
              <div class="row">
                  <div class="col-md-4 al">
                    <p style="font-size: 30px; margin-top: 280px; color: white;"> Giving Love</br>Donation Is Caring</p>
                </div>
                <div class="col-md-7 am">
                    <p style="font-size: 30px; margin-top: 280px; color: white;"> Giving Love</br>Donation Is Caring</p>
                </div>

                  </div>
                  <!-- <div class="an">
                      <a href="" class="btn btn-lg btn-danger">See Gallary</a>
                      <button class="btn btn-lg btn-danger">See Gallary</button>
                      
                  </div> -->
                  

    </div>
    
        <!-- <div class="container" >
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box"></div>
                    <h3>Our Volunteers</h3>
                    <p>Here are our active volunteers, who help for the needy people in terms of money and support.</p>
                </div>
            </div>
        </div>
    </div> -->
    <div id="fh5co-content-section" class="fh5co-section-gray">
    <div class="container-fluid bg-light mt-5" id="volunteer">
        <div class="row">
            <div class="col-md-12">
               <h2 class="ao" >Our Volunteers</h2>
               <p class="ap">Here are our active volunteers, who help for the needy people in terms of money and support.</p>
                 
               

                  </div>
                </div>
            </div>
        </div>
      

  
    <div class="container">
		<div class="row">
			{% for i in vol %}
			<div class="col-md-4 mt-5">
				<div class="fh5co-testimonial text-center animate-box">
					<figure>
						<img src="/media/{{i.profile_pic}}" alt="user">
					</figure>
					<blockquote>
						<h5 style="color:#ff5722">{{i.name}} ({{i.age}} yrs)</h5>
						<table class="table">
							<tbody>
								<tr>
									<th><i class="fas fa-envelope-square vol-icon"></i></th>
									<th><p>{{i.email}}</p></th>
								</tr>
								<tr>
									<th><i class="fas fa-mobile-alt vol-icon"></i></th>
									<th><p>{{i.contact}}</p></th>
								</tr>
								<tr>
									<th><i class="fas fa-user-graduate vol-icon"></i></th>
									<th><p>{{i.qualification}}</p></th>
								</tr>
								<tr>
									<th><i class="fas fa-map-marker-alt vol-icon"></i></th>
									<th><p>{{i.city}},{% if i.country %}{{i.state}}({{i.country}}) {% endif %}</p></th>
								</tr>
								<tr>
									<th><i class="fas fa-clock vol-icon"></i></th>
									<th><p>{{i.on_date}}</p></th>
								</tr>
							</tbody>
						</table>
					
					</blockquote>
				</div>
			</div>
			{% endfor %}
		</div>
    </div>


    <div id="fh5co-services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-2 text-center heading-section animate-box">
                    <h3 style="text-align: center;">Our Scope of work. Support Us</h3>
                </div>
            </div>
        </div>
    <!-- <div class="container mt-5 bg-light ">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1 class="au">Our Scope of work..Support Us</h1>
                
                <div style="background: red;height: 3px;width:70px;" class="rounded mx-auto"></div>
            </div>
        </div> -->
            <!-- <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Our Category({{category|length}})</h1>
                </div>
                
                {% for c in category %}
            <div class="col-md-4 text-center" >
                <div style="box-shadow: 0px 0px 10px black;background: url('/media/{{c.cover_pic}}');background-size: 100% 100%;"class="myimg">
                    <!-- <img src="/media/{{c.cover_pic}}" alt="" height="200px"> -->
                    <!-- <div class="box1" style="height: 300px;">
                            <h3>{{c.name}}</h3>
                            <p>{{c.description}}</p>
                    </div>

                </div>
            </div> 
            {% endfor %}
        </div> --> 
        <div class="container">
            <div class="row text-center">
                {% for i in support %}
                <div class="col-md-4 col-sm-4">
                    <div class="services animate-box">
                        <span><i class="icon-heart"></i></span>
                        <h3>{{i.title}}</h3>
                        <p>{{i.description1}}...</p><br/>
                        <a href="{% url 'scope'%}?id={{i.id}}" style="color:#ff5722;">Read More &gt;&gt;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
        
    
    <!-- <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center;">Recent From Blog</h1>
                <p style="text-align: center;font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
                <div style="background: red;height: 3px;width:70px;" class="rounded mx-auto"></div>
            </div>
        </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <img src="{% static 'alch.jpg'%}" alt="" style="width: 100%;height: 100%;">
                </div>
                <div class="col-md-4">
                    <img src="{% static 'alch2.jpg'%}" alt="" style="width: 100%;height: 100%;">

                </div>
                <div class="col-md-4">
                    <img src="{% static 'alch1.jpg'%}" alt="" style="width: 100%;height: 100%;">
                    
                </div>
            </div>
                <div class="bb"><button class="btn btn-lg btn-danger mt-5 mb-2">Our Blog</button></div>
                

                {% if status %}
                <script>
                  alert("{{status}}");
                  window.location="/"
                </script>
              {% endif%}
               -->
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-12  text-center" >
                    <h1 style="font-family: bold;">Our Donor List({{donor|length}})</h1>
                </div>
                
                 
            </div>   
        </div>
            
        <div class="container-fluid">
            <div class="row">
                    
                        <div class="col-md-12 text-center ">
                                <table class="table table-striped table-info table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Name</th> 
                                           <th>Email</th>
                                           
                                           <th>Contact</th>
                                           <th>Work</th>
                                        </tr> 
                                            
                                            
                                       
                                    </thead>
                                    <tbody>
                                        
                                    {% for c in donor %}
                                <tr>
                                    <td>{{c.name}}</td>
                                
                                <td>{{c.email}}</td>
                               
                                <td>{{c.contact}}</td>
                                <td>{{c.work}}</td>
                            </tr>  
                                    
                                    
                                    {% endfor %}
                              
                                </tbody>
                                </table>
                        </div>
              
                    </div>   
                </div>
            
                <!-- <div style="box-shadow: 0px 0px 10px black;background: url('/media/{{c.cover_pic}}');background-size: 100% 100%;"class="myimg">
                     <img src="/media/{{c.cover_pic}}" alt="" height="100px"> 
                    <div class="box1" style="height: 300px;">
                            <h3></h3>
                            <p>{{c.amount}}</p>
                    </div>
            
                </div> -->
            
            
        
            
  

  
    {% endblock %}
