{% extends "donerbase.html" %}
{% load static %}
{% block dashboard %}
<style>
    .main{
          font-style: italic;text-align: center;font-weight: bold;font-size:xx-large;margin-top: 50px;
    }
body{
 box-shadow: 5px 10px;  
}
label{
    width: 90%;height:25px;padding:5px ;margin-left: 0px;
}
.i{
    width: 90%;height:25px;padding:20px ;margin-left: 0px;  
}
h2{
    color: black;text-align: center;margin-top: 0%;
}
.f{
    width: 400px;background: white;padding: 50px;margin-top: 2%;height: 470px;font-family: arial;
    font-size: 13px; font-weight: bold;
}
::placeholder{
    color: black;opacity: 0.5;
}
.form{
    box-shadow: 20px 20px 50px #886788;
}

 </style>

<div class="container">
    <div class="row">
        <div class="col-md-5 p-4 bg-light mx-auto shadow shadow-lg  my-5">
            <form action="" method="post" class="f" >
                {% csrf_token %}    
                    <h2>Get Your Password</h2><hr>
                    {% if msz %}
                    <div class="alert {{col}}">
                        {{msz}}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label>Current Password</label>
                        <div class="input-group">
                            <div class="input-group-append shadow">
                                <span class="input-group-text shadow">
                                    <i class="fas fa-eye" style="font-size: 15px;"></i>
                                </span>
                            </div>
                        
                        <input type="password" placeholder="Current Password"
                        class="form-control i shadow" name="cpwd" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> New Password</label>
                        <div class="input-group">
                            <div class="input-group-append shadow">
                                <span class="input-group-text shadow">
                                    <i class="fas fa-eye" style="font-size: 15px;"></i>
                                </span>
                            </div>
                        
                        <input type="password" placeholder="New Password"
                        class="form-control i shadow" required name="npwd" id="pas" onkeyup="check_pass()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <div class="input-group">
                            <div class="input-group-append shadow">
                                <span class="input-group-text shadow">
                                    <i class="fas fa-key" style="font-size: 15px;"></i>
                                </span>
                            </div>
                        
                        <input type="password" placeholder="Confirm New Password"
                        class="form-control i shadow" required id="cpas" onkeyup="check_pass()">
                        </div>
                    </div>
                    
<div class="form-group">
    <button class="btn btn-success my-4" id="sbbtn">Reset Password</button>
</div>                </form>
        </div>
    </div>
</div>
<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();
        if (p==cp){
            $("#pas").css("border","1px solid green");
            $("#cpas").css("border","1px solid green");
            //$("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
            //$("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#sbbtn").removeAttr("disabled");


        }else{
            $("#pas").css("border","1px solid red");
            $("#cpas").css("border","1px solid red");
            //$("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
            //$("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");

            $("#sbbtn").attr("disabled","disabled");
        }

    }
</script>
{% endblock %}



Type a message
