{% extends "base.html"%}
{% load static %}
{% block myblock %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
<style>
.top-cover{
    
    background:url("{% static 'charity.jpg'%}");
    background-attachment:fixed;background-size:100% 100%;
}
</style>


<section>
    <div class="container-fluid top-cover py-5">
        <div class="row p-5 ">
            <div class="col-md-12 p-5 text-center text-dark my-4" style="position:relative;margin-top:200px;">
                <h2 class="">{{work.title}}</h2>
            </div>
        </div>
    </div>
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 animate-box">
            <div class="mt-5">
                <p>{{work.description1}}</p>
            </div>
            <div class="mt-5">
                <p>{{work.description2}}</p>
            </div>
            <div class="mt-5">
                <p>{{work.description3}}</p>
            </div>
        </div>
    
        <div class="col-md-4 text-center">
            <div id="demo" class="carousel slide" data-ride="carousel" style="margin:auto;">
                <!-- Indicators --> 
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                </ul>          
                <!-- The slideshow -->
                <div class="carousel-inner">
                    {% for i in images %}
                    {% if i.work.id == work.id %}
                    <div class="carousel-item active">
                    <img src="/media/{{i.image1}}" style="height:300px;width:100%;" alt="Los Angeles">
                    </div>
                    <div class="carousel-item">
                    <img src="/media/{{i.image2}}" style="height:300px;width:100%;" alt="Chicago">
                    </div>
                    <div class="carousel-item">
                    <img src="/media/{{i.image3}}" style="height:300px;width:100%;"alt="New York">
                    </div>
                    <div class="carousel-item">
                    <img src="/media/{{i.image4}}" style="height:300px;width:100%;" alt="New York">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
                
                </div>
        </div>
    </div>
</div>
</section>
{% endblock %}