{% extends "donerbase.html" %}

{% load static%}
{% block dashboard %}  
    <style>
        .bgb{
            background:url(/static/email2.jpg); background-size: cover;
               height: 650px;
               width: 100%;
                padding: 50px 0px;
              color: black;
        }
        .bg1{
            background: rgba(0,0,0,0.1);
        }
        input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="tel"]:focus{
outline: none;                   
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="password"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}

input[type="email"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
.btn-success{
    background-color: #02cc26!important;
    border-color: #02cc26!important;
}
.btn-danger{
    background-color:#fd3635!important ;
    border-color: #fd3635!important;
}
.btn{
    padding:0.625rem 1.25rem;
    transition:.3s;
    font-weight: 500;
    font-family: "Maven Pro", sans-serif;
    line-height: 1.5;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-block;
}
.m-2{
    margin: .5rem!important;
}
.my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mt-4, .my-4{
    margin-top: 1.5rem!important;
}
.align-items-end{
    -webkit-box-align:end!important;
    align-items: flex-end!important;
}
.position-relative{
    position: relative;
}
img{

}
.as-parent{
    width: 100%;
    height:100%;
}
input:not([type=submit]):not([type=checkbox]), select, textarea{
    transition: all .3s;
    font-family: "Work Sans", sans-serif;
}
p{
    line-height: 1.76;
    margin-top: 0;
    margin-bottom: 1rem;
}
a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.btn-outline-primary{
    background-color: transparent;
    border-color:#00CB54 ;
    color: #00CB54;
}
.btn-outline-primary:hover{
background-color: #00CB54;
}
.position-absolute{
    position: absolute;
}
.opacity-0{
    opacity: 0;
}
.vt{
    display: inline-block;
}
body{
    margin-top:20px;
    background:#f8f8f8
}
    </style>
    
    
    
    <div class="container-fluid ">
      <div class="row text-white bgb" >
          <div class="col-md-12 py-5 text-center text-light px-0" >
               <h1 >Send Email</h1>
               <p>Home &gt;&gt;MyDashboard &gt;&gt; Send Email</p>
              </div>
      </div>
              <div class="col-md-6  p-3 bg-light my-5 shadow  mx-auto">
                  {% if status %}
                    <div class="alert {{cls}}">{{status}}</div>
                    {% endif %}

                  <form action="" method="POST">
                      {% csrf_token %}
                      <div>
                          <div class="form-group">
                              <label>To</label>
                              <input type="text" class="form-control" placeholder="To" name="to">

                          </div>
                          <div class="form-group">
                            <label>Subject</label>
                            <input type="text" class="form-control" placeholder="Subject" name="sub">

                          </div>
                          <div class="form-group">
                              <label for="">Messages</label>
                              <textarea name="msz" id=""  rows="5" placeholder="Enter Your Message" class="form-control"></textarea>

                          </div>
                          <div class="form-group">
                              <input type="submit" value="Send Email" class="btn btn-outline-success rounded pill">

                          </div>

                  </form>

                </div>
              </div>
              </div>
           
                   
                 
{% endblock %}