{% extends "base.html" %}
{% load static %}
{% block myblock %}
<style>
    .top-cover{
        background:url("{% static 'cover_bg_3.jpg'%}");
        background-attachment:fixed;background-size:100% 100%;
        margin-top: 25px;
    }
    ul {
  list-style: none;
}

.vol-list li:before {
  content: '✓ ';
  color:#ff5722;
}
</style>


<div class="container-fluid">
    <div class="row p-5 top-cover">
        <div class="col-md-12 text-center text-light" style="padding:100px;">
            <h2 style="color:white">Become a Volunteer | <span style="color:#ff5722;">Charity Hub</span></h2>
        </div>
    </div>
</div>
<div class="container" style="padding:2%;">
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Full Name" name="name" required minlength="3" pattern="[A-Za-z\s]+" title="Only Characters and spaces allowed" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Contact Number" name="contact" min="1000000000" max="9999999999" required>                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="file" class="form-control" placeholder="Profile Pic" name="profile_pic" required>                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 txt" style="display:inline-block;">
                        <input type="hidden" id='hcon' name="country">    
                        <div class="form-group">
                            <select id="country" class="form-control" onchange="getstate()">
                                <option value="">--Select country--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 txt" style="display:inline-block;">
                        <input type="hidden" id='hstate' name="state">  
                        <div class="form-group">
                            <select id="state" class="form-control" onchange="getcity()">
                                <option value="">--Select State--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 txt" style="display:inline-block;">
                        <div class="form-group">
                            <select id="city" class="form-control" name="city">
                                <option value="">--Select City--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Address Line 1 (optional)" name="address1" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Address Line 2 (optional)" name="address2" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Age in Years" min="18" name="age" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Qualification" min="18" name="qualification" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="remarks" class="form-control" id="remarks" cols="30" rows="4" placeholder="Other information (if any)" required></textarea>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="checkbox" name="accept" required>
                            <span>I declare that i accept all the terms & condition to become a volunteer</span>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="pay" value="Become a Volunteer" class="btn btn-primary" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="animate-box">
                    <h4 class="text-center" style="color:#ff5722;">By Becoming a volunteer you may have following Role & Responsibilities</h4>
                    <ul class="vol-list">
                        <li><span class="text-dark"></span>Help in improving the level of Spoken English in children. </li>
                        <li><span class="text-dark"></span>Take outdoor sports classes.</li>
                        <li><span class="text-dark"></span>Assisting the staff or caretaker in taking care of the children </li>
                        <li><span class="text-dark"></span>Provide counseling to the women at the center. </li>
                        <li><span class="text-dark"></span>Create a fun, colorful, “Play Way” environment for the children through games, stories, and other creative activities. </li>
                        <li><span class="text-dark"></span>Make children aware of social issues and activities to do to keep society clean and better etc. </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
<!-- END fh5co-contact -->
<div id="map" class="fh5co-map"></div>
<!-- END map -->

<!-- ADDRESS -->
<script>
$(function(){
        $.ajax({
            url:'http://stsmentor.com/locationapi/locationApi.php?type=getCountries',
            type:'get',
            success:function(data){
                let c='';
                data.result.forEach(element => {
                    for (i in element){
                        c+='<option value="'+i+'" name="'+element[i]+'">'+element[i]+'</option>';

                    }
                });
                $('#country').html(c);
            }

        });
    });
function getstate(){
    let cont_id= $('#country').val()
    var aa = $('#country').find(":selected").text();
    $('#hcon').val(aa);
    $.ajax({
        url:'http://stsmentor.com/locationapi/locationApi.php?type=getStates&countryId='+cont_id,
        type:'get',
        success:function(data){
            let st='';
            data.result.forEach(kv =>{
                for(k in kv){
                    st+='<option value="'+k+'" name="'+kv[k]+'">'+kv[k]+'</option>'
                }

            });
            $('#state').html(st);
        }
    });
}
function getcity(){
    let state_id=$('#state').val()
    var st = $('#state').find(":selected").text();
    $('#hstate').val(st);
    $.ajax({
        url:'http://stsmentor.com/locationapi/locationApi.php?type=getCities&stateId='+state_id,
        type:'get',
        success:function(data){
            let ct='';
            data.result.forEach(kv =>{
                for(k in kv){
                    ct+='<option value="'+kv[k]+'" name="'+kv[k]+'">'+kv[k]+'</option>'
                }
            });
            $('#city').html(ct);
        }

    });
}


</script>
{% if status %}
<script>
	alert('{{status}}');
</script>
{% endif %}
{% endblock %}