{% extends "base.html"%}
{% load static %}
{% block myblock %}  
    <style>
        .bg{
            background: url("imagesjpg/hand pen.jpg"); background-size: cover;
        }
        .bg1{
            background: rgba(0,0,0,0.1);
        }
        input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="tel"]:focus{
outline: none;                   
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="password"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}

input[type="email"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
.btn-success{
    background-color: #02cc26!important;
    border-color: #02cc26!important;
}
.btn-danger{
    background-color:#fd3635!important ;
    border-color: #fd3635!important;
}
.btn{
    padding:0.625rem 1.25rem;
    transition:.3s;
    font-weight: 500;
    font-family: "Maven Pro", sans-serif;
    line-height: 1.5;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-block;
}
.m-2{
    margin: .5rem!important;
}
.my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mt-4, .my-4{
    margin-top: 1.5rem!important;
}
.align-items-end{
    -webkit-box-align:end!important;
    align-items: flex-end!important;
}
.position-relative{
    position: relative;
}
img{

}
.as-parent{
    width: 100%;
    height:100%;
}
input:not([type=submit]):not([type=checkbox]), select, textarea{
    transition: all .3s;
    font-family: "Work Sans", sans-serif;
}
p{
    line-height: 1.76;
    margin-top: 0;
    margin-bottom: 1rem;
}
a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.btn-outline-primary{
    background-color: transparent;
    border-color:#00CB54 ;
    color: #00CB54;
}
.btn-outline-primary:hover{
background-color: #00CB54;
}
.position-absolute{
    position: absolute;
}
.opacity-0{
    opacity: 0;
}
.vt{
    display: inline-block;
}
    </style>
    <div class="container-fluid bg">
        <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
            <div class="col-md-4 px-5">
                 <h1>Instructor Profile</h1>
                 <p>Home &gt;&gt; Pages &gt;&gt; User &gt;&gt; Instructor Profile</p>
                </div>
                </div>
             </div>
             <div class="container-fluid bg1 my-5">
                <div class="row">
                  <div class="col-md-4 my-5">
                      <div class="card-header" style="color:black;background: white;">
                          <img src="{% static 'img/boy.jpg'%}" class="card-img" alt="" style="border-radius:50%;">
                      
                      <h3 class="card-title text-center">Alex Lebby</h3>
      <p class="card-text text-center" >Web Developer and Instrusctor </p>
        <ul class="list-inline" style="word-spacing: 50px; margin-top: 40px;">
         <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-user"></i>
          <h4>Students</h4>
          <p>147560</p></li>
           <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="fas fa-book-open"></i>
            <h4>Courses</h4>
            <p style="margin-left: 30px;">27</p></li>
               <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-star"></i>
                <h4>Reviwes</h4>
                <p>10467</p></li>
                </ul>
                   </div>
                      <div class="card-body" style="background:white">
                          <p>Email Address:</p>
                          <h4>saifulla@gmail.com</h4>
                          <p>Phone:</p>
                          <h4>+91 654 784 547</h4>
                          <p>Location:</p>
                          <h4>South Street,London,UK</h4>
                      </div>
                      <div class="card-footer" style="background: white;">
                      <p style="font-size:20px;">Social Profile</p>
                      <div style="font-size: 50px;word-spacing: 40px;">
                          <i  style="color: blue;" class="fab fa-facebook"></i>
                      <i style="color: skyblue;" class="fab fa-twitter-square"></i>
                      <i style="color: red;" class="fab fa-google-plus"></i>
                      <i style="color: turquoise;" class="fab fa-instagram"></i>
                    </div>
                      </div>
                  </div>
                
                    <div class="col-md-6">
                        <h4 class="mt-5">Upload Profile</h4>
                        <div class="media align-items-end mt-2 ">
                            <div class="position-relative">
                              <input type="file" class="opacity-0 position-absolute as-parent  ">
                              <img src="img/mp.jpg" alt="">
                            </div> 
                             <div class="media-body ml-4 mb-4 mb-md-0 ">
                               <p>
                                 JPG or PNG 200x200 px
                               </p>
                               <a href=""></a>
                               <button class="btn btn-outline-primary vt">
                                 <input type="file" class="opacity-0 position-absolute">
                                 Upload
                               </button></div></div>
                               <hr>
                               <h4 class="">
                                Manage your Account
                              </h4>
                              <div class="form-group row ">
                                <label class="col-md-3 col-form-label text-dark">Full Name</label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" value="Varsha Thakur">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label text-dark">Position</label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" value="Web Developer and Instructor">
                                </div>
                              </div> 
                               
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label text-dark">Email</label>
                                <div class="col-md-9">
                                  <input type="email" class="form-control" value="varshathakur813@.gmail.com">
                                </div>
                              </div>
                              
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label text-dark">Phone</label>
                                <div class="col-md-9">
                                  <input type="tel" class="form-control" value="+91 9888839430">
                                </div>
                              </div> 
                              
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label text-dark">Location</label>
                                <div class="col-md-9">
                                  <input type="tel" class="form-control" value="Sector 59,phase-5,mohali">
                                </div>

                              </div>  
                              
                              <hr>
                            
                            
                          <h4>
                            Security Settings
                          </h4>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label text-dark">Current Password</label>
                            <div class="col-md-9">
                              <input type="password" class="form-control" value="123456">
                            </div>
                          </div>
                           
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label text-dark">New Password</label>
                            <div class="col-md-9">
                              <input type="password" class="form-control" placeholder="12345678">
                            </div>
                          </div> 
                           
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label text-dark">Confirm Password</label>
                            <div class="col-md-9">
                              <input type="password" class="form-control" placeholder="12345678">
                            </div>
                          </div> 
                          <h4>
                            Social Account
                          </h4>
                         <div class="form-group row">
                           <label class="col-md-3 col-form-label text-dark">Facebook</label>
                           <div class="col-md-9">
                             <input type="text" class="form-control" value="">
                           </div>
                         </div>
                         
                         <div class="form-group row">
                           <label class="col-md-3 col-form-label text-dark">Twitter</label>
                           <div class="col-md-9">
                             <input type="text" class="form-control" value="">
                           </div>
                         </div>
                         <div class="form-group row">
                            
                           <label class="col-md-3 col-form-label text-dark">Linkdin</label>
                           <div class="col-md-9">
                             <input type="text" class="form-control" value="">
                           </div>
                         </div>
                         
                         <div class="form-group row">
                           <label class="col-md-3 col-form-label text-dark">Google</label>
                           <div class="col-md-9">
                             <input type="text" class="form-control" value="">
                           </div>
                         </div><hr>
                         <h4>
                            About You
                          </h4>
                          <textarea rows="6" class="form-control">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores maxime officiis quidem praesentium ipsum, debitis distinctio autem officia facere est voluptatibus quos libero voluptatum molestias quisquam mollitia animi fugit laboriosam!
                        </textarea>                  
                        <h4 class="mb-2 pb-2"><hr>
                            Account Type
                          </h4>
                          <p>
                            <span class="badge badge-danger">Free</span>
                          </p><hr>
                          <div class="my-5">
                            <button class="btn btn-success m-2">Update Profile</button>
                            <button class="btn btn-danger m-2">Cancel</button>
                        </div>
                         </div>  
                         
                      
                         
                     

                    
                  </div>
                  </div>
                
              
                

  
                      
                 
{% endblock %}