{% extends "base.html"%}
{% load static %}
{%block myblock%}
<style>
</style>
<div class="container-fluid bg">
    <div class="row bg">
        <!--left side menu-->
        <div class="col-md-2 bg-dark">
            <nav class="navbar navbar-dark ">
                <a href="" class="navbar-brand">MyDashboard
                    <div class="text-center">
                        {% if data.profile_pic %}
                        <img src="/media/{{data.profile_pic}}" alt="" style="width: 150px;height: 150px; border-radius: 50%;">
                        {%else%}
                        <img src="{% static 'user.jpg' %}" alt="" style="width: 150px;height: 150px; border-radius: 50%;">
                     {% endif %}
                 </div>
                    <h1>{{user.username}}</h1>
                </a>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'cust_dashboard'%}" class="nav-link">View Profile</a>

                    </li>
                    <li class="nav-item">
                        <a href= "{% url 'edit_profile' %}" class="nav-link">Edit Profile</a>

                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Reset Password</a>

                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>

                    </li>


                </ul>

            </nav>
        </div>
        <!--right side menu-->
        <div class="col-md-10">
            {% block dashboard%}
            {% endblock%}
        </div>

    </div>

</div>
{% endblock%}