{% extends "donerbase.html" %}
{%load static%}
{% block dashboard%}
<style>
.bg{
        background: url("{% static 'ep1.jpg' %}");
       background-attachment: fixed;
       background-size: cover;
     }
    
</style>

 <div class="container-fluid">
    <div class="row">
       <div class="col-md-12 bg-img py-5 text-center text-light">
           <h1>Dashboard &gt; Edit Profile</h1>
       </div>
       <div class="col-md-6 mx-auto p-3 bg-light my-2">
           <div class="text-center">
               {% if data.profile_pic %}
               <img src="/media/{{data.profile_pic}}" alt="" style="width: 200px;height: 200px; border-radius: 50%;">
               {%else%}
               <img src="{% static 'user.jpg' %}" alt="" style="width: 200px;height: 200px; border-radius: 50%;">
            {% endif %}
        </div>
           
           <form action="" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               {% if status %}
               <div class="alert alert-primary">{{status}}</div>
               {% endif %}
               <div class="form-group">
                   <div class="row">
                       <div class="col-md-6">
                           <label>First Name</label>
                           <input type="text" class="form-control" placeholder="Enter first Name" name="fname" value="{{user.first_name}}">

                       </div>
                       <div class="col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter Last Name" name="lname" value="{{user.last_name}}">

                    </div>
                     
                       <div class="col-md-6">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Enter Email" name="email" value="{{user.email}}">
                        
                    </div>
                    <div class="col-md-6">
                        <label>Profile Picture</label>
                        <input type="file" class="form-control"  name="image">
                        
                    </div>
                </div>
                    <div class="form-group">
                   
                        <div class="row">
                            <div class="col-md-6">
                        <label>Contact</label>
                        <input type="number" value="{{data.contact_number}}" class="form-control" placeholder="Enter Contact Number" name="contact" pattern="[0-9]{10}" title="Number must contain 10 digits only">
                        
                    </div>
                    <div class="col-md-6">
                        <label>Age(in years )</label>
                        <input type="number" value="{{data.age}}" class="form-control" placeholder="Enter Age" name="age" min="15" max="90">
                        
                    </div>
                    </div>
                    </div>
                    <div class="form-group">
                   
                        <div class="row">
                            <div class="col-md-6">
                        <label>City</label>
                        <input type="text" value="{{data.city}}"class="form-control" placeholder="Enter City" name="city">
                        
                    </div>
                    <div class="col-md-6">
                        <label>Gender</label>
                        <select name="gender" class="form-control">
                            <option value="Male">Male</option>
                            {% if data.gender == "Female" %}
                            <option value="Female" selected>Female</option>
                            {% else %}
                            <option value="Female">Female</option>
                            {% endif %}
                            {% if data.gender == "Other" %}
                            <option value="Other" selected>Other</option>
                            {% else %}
                            <option value="Other">Other</option>
                            {% endif %}
                        </select>                       
                    </div>
                    
                    
 
                   </div>
               </div>
               <div class="form-group">
                   <label>Occupation</label>
                   <input type="text" class="form-control" placeholder="Enter Occupation" name="occupation" value="{{data.occupation}}">
               </div>
               <div class="form-group">
                <label>About You</label>
                <textarea class="form-control" name="about" placeholder="Write about yourself">{{data.about}}</textarea>                  
                        
                          
                          </div>
                          <div class="form-group">
                        <input type="submit" name="Changeprofile" value="Save Changes" class="btn btn-primary" style="width: 50%;border-radius: 20px;">    

                                      </div>
            

           </form>
       </div>

        </div>
    </div>
</div>
{% endblock %}