{% extends "base.html" %}
{% load static %}
{% block myblock %}
<style>
    .main{
          font-style: italic;text-align: center;font-weight: bold;font-size:xx-large;margin-top: 150px;
    }
body{
    background: linear-gradient(green 30%,gray 50%);
}
.lbs{
    width: 90%;height:25px;padding:5px ;margin-left: 0px;
}
.int{
    width: 90%;height:25px;padding:20px ;margin-left: 0px;  
}
.heading2{
    color: black;text-align: center;margin-top: 0%;
}
.frm{
    width: 400px;margin: auto;background: white;padding: 50px;margin-top: 2%;height: 470px;font-family: arial;
    font-size: 13px; font-weight: bold;
}
::placeholder{
    color: black;opacity: 0.5;
}

 </style>

<div class="main"><h1 style="color: white;">Security Settings</h1></div>
    <form action="" method="post" class="frm">
        <h2 class="heading2">Get Your Password</h2><hr>
        <div class="form-group">
            <label class="lbs">Old Password</label>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-eye" style="font-size: 15px;"></i>
                    </span>
                </div>
            
            <input type="password" placeholder="Old Password"
            class="form-control int ">
            </div>
        </div>
        <div class="form-group">
            <label> New Password</label>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-eye" style="font-size: 15px;"></i>
                    </span>
                </div>
            
            <input type="password" placeholder="New Password"
            class="form-control i ">
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-key" style="font-size: 15px;"></i>
                    </span>
                </div>
            
            <input type="password" placeholder="confirm Password"
            class="form-control i ">
            </div>
        </div>
   <button class="btn btn-success">Reset Password</button>
    </form>
    
{% endblock %}