{% extends "base.html"%}
{% load static %}
{% block myblock %}
<style>
    .back{
        height: 500px;
        width: 100%;
    } 
        
     .newback{
         background-image: url(/static/login11.jpg);
     }   
    
   
    

</style>
<div class="container-fluid mb-5 mt-5 ">
    <div class="row">
        <div class="col-md-6 back">
            <img src="{% static 'login5.jpg' %}" alt="" class="back">
        </div>
        <div class="col-md-4 newback">
            <div class="form-group">
           <h1 style="text-align: center;color:#28a745;">Login Here</h1>
           <div class="modal-header form-group">
               
               <span class="close text-danger" data-dismiss="modal"></span></div>
               
                              <p class="text-center my-4" style="font-family:sans-serif;color:#606065;">
                   
               </p>
               <div class="modal-body">
                <form action="{% url 'user_login' %}" method="post" >
                    {% csrf_token %}
                       <div class="form-group "style="color: #606065;">
                           <label for="">Username</label>
                          <div class="input-group"> 
                              <input type="text" placeholder="Enter Username" class="form-control" name="username">
                           
                       </div>
                       </div>
                       
                       <div class="form-group "style="color: #606065;">
                        <label for="">Password</label>
                           <input type="password" placeholder="Enter Password" class="form-control" name="password">
                       </div>
                       <div class="checkbox "style="color: #606065;">
                           <label for=""><input type="checkbox" class="vrsha">Remember Me</label>
                               <a href="" class="text-primary mx-4" style="font-family: sans-serif; color: #00CB54!important;">Forgot Password?</a>
                       </div>
                       <div class="form-group">
                           <label for=""></label>
                           <input type="submit" value="Sign In" class="btn btn-success btn-block">
                       </div>
                   </form>
               </div>
               <div class="modal-footer"><em>
                   <span style="color:#606065;">You Accepted Our</span> <span style="color: green;font-family:Elephant;"> Term And Conditions</span> <span style="color: white;">And</span> <span style="color: green;font-family:Elephant;">Privacy Policy</span></em></div>
           </div>
       </div>
        </div>
    </div>
</div>




{% endblock %}