{% extends "base.html"%}
{% load static %}
{% block myblock %}

    <style>
        .h{
            text-align: center;
        }
        .b1{
            
            margin-top: 10px;
            
        }
        .p1{
            text-align: center;
            margin-top: 50px;

        }
        .axz{
            display: inline-block;
            margin: 5px;
        }
        .ahaa{
            text-align: center;
            margin-top: 10px;
        }
        .si{
            color: green;
            font-style: italic;
            font-family: elephant;
        }
        .dob{
            margin: 5px;
        }
        .sha{
            box-shadow: black;
        }

    </style>
    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6">
                <div class="carousel slide" data-ride="carousel" id="myslider">
                    <ul class="carousel-indicators">
                        <li data-target="#mslider" data-slide-to="0" class="active" ></li>
                        <li data-target="#myslider" data-slide-to="1" ></li>
                        <li data-target="#myslider" data-slide-to="2"></li>
                        <li data-target="#myslider" data-slide-to="3"></li>
                        <li data-target="#myslider" data-slide-to="4"></li>
                        <li data-target="#myslider" data-slide-to="5"></li>
                        <li data-target="#myslider" data-slide-to="6"></li>
                        
                    </ul>
                    <div class="carousel-inner">
                        
                            <div class="carousel-item active">
                            <img src="{% static 'sgu.png'%}" height="600" width="100%">
                        </div>
                        <div class="carousel-item">
                         <img src="{% static 'sgu1.jpg'%}" height="600" width="100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'sgu2.jpg'%}" height="600" width="100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'sgu3.jpg'%}" height="600" width="100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'sgu4.jpg'%}" height="600" width="100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'sgu5.jpg'%}" height="600" width="100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'sgu6.jpg'%}" height="600" width="100%">
                        </div>
                       
                    </div>
                    </div>
            </div>
                    <div class="col-md-6 sha bg-light">
                        <div class="form-group">
                            <h2 class="h">Sign Up Here And Start Learning!</h2>
                            <hr>
                            <button class="btn btn-primary b1 btn-block "><i class="fab fa-facebook-square mr-1"></i>Sign In With Facebook</button>
                            <button class="btn btn-danger b1 btn-block"><i class="fab fa-google-plus-square mr-1"></i>Sign In With Google</button>
                            <p class="p1">OR</p>
                        </div>
                       <div class="modal-body">
                           <form onsubmit="return checkPassword(this)"  method="POST">
                            {% csrf_token %}
                            
            
                               <div class="form-group axz ">
                                <label for="">First Name</label>
                               <div class="input-group">
                                  
                                   <input type="text" class="form-control" placeholder="Enter Your First Name" name="first" >
            
                               </div>
                            </div>
                            
            
                            <div class="form-group axz ">
                                <label for="">Last Name</label>
                               <div class="input-group">
                                  
                                   <input type="text" class="form-control" placeholder="Enter Your Last Name" name="last">
            
                               </div>
                            </div>
                            <div class="form-group">
                                <small id="result"></small>
            
                            </div>
                           
                            <div class="form-group ">
                                <label for="">Enter Your Username</label>
                               <div class="input-group">
                                  
                                   <input type="text" class="form-control" placeholder="Enter Your User name" name="myuser" id="username" onkeyup="checkuser()" >
            
                               </div>
                            </div>
                           
                            <div class="form-group ">
                                <label for="">Enter Your E-mail</label>
                               <div class="input-group">
                                  
                                   <input type="text" class="form-control" placeholder="Enter Your E-mail Here" name="email">
            
                               </div>
                            </div>
                            <div class="form-group ">
                                <label for="">Contact No.</label>
                               <div class="input-group">
                                  
                                   <input type="text" class="form-control" placeholder="Enter Your Mobile No." name="contact">
            
                               </div>
                            </div>
                            <div class="form-group ">
                                <label for="">Password</label>
                                
                                  <div class="input-group">
                                   <input type="password" name=password1 class="form-control"  placeholder="Enter Your Password" name="password1" id="ram">
                                   <div class="input-group-append"><button type="button" onclick="abcd()"><i class="fas fa-eye"></i></button>
            
                               </div>
                            </div>
                            </div>
                        
                            <div class="form-group ">
                                <label for="">Confirm Password</label>
                               
                                <div class="input-group">
                                    <input type="password" name=password2 placeholder="Please Re-Enter Your Password Here" name="password2" class="form-control" id="ram"> <div class="input-group-append"><button type="button" onclick="abcd()"><i class="fas fa-eye"></i></button></div>
                                </div> 
                                
                                
                            </div>
                            <button class="btn btn-success" id="submitbtn">Create Account</button>
                           </form>
            
                       </div>
            
                    </div>
            
                </div>
            
            </div>
            <script>
                function abcd(){
                    v=document.getElementById("ram").type
                    if(v=="password"){
                    document.getElementById("ram").type="text"
                    }
                    else{
                        document.getElementById("ram").type="password"
                    }
                }
                
            </script>
            <script>
                 function checkPassword(form) { 
                        password1 = form.password1.value; 
                        password2 = form.password2.value; 
            
                         
                        if (password1 == '') 
                            alert ("Please enter Password"); 
                              
                        
                        else if (password2 == '') 
                            alert ("Please enter confirm password"); 
                              
                   
                        else if (password1 != password2) { 
                            alert ("\nPassword did not match: Please try again...") 
                            return false; 
                        } 
            
                        
                        else{ 
                            alert("Password Match: Welcome to Our Site!") 
                            return true; 
                        } 
                    } 
            
            </script>
            <script>
                 function checkuser(){
        let un = document.getElementById("username").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{usern:un},
            success:function(data){
                if(data =="Exists"){
                    $("#result").html("this username already taken").addClass("text-danger");
                    $("#username").addClass(" alert-danger");
                    $("#submitbtn").attr("disabled","disabled");
                }else{
                    $("#result").html("");
                    $("#username").removeClass(" alert-danger")
                    $("#submitbtn").removeAttr("disabled")

                }
                



                
                }

                


            
        })
           
    }

            </script>
            
            {% endblock %}