/*
Theme Name: Marketing Land
Theme URI: https://marketingland.com
Authors: Michelle Robbins, Zane DeFazio
Author URI: http://twitter.com/MichelleRobbins, http://twitter.com/zanedefazio
Description: Main Marketing Land theme
Version: 0.1
*/
/*
@font-face {
  font-family: 'Trade Gothic W01 Bold';
  src: url('fonts/TradeGothicLTCom-Bold.eot');
  src: url('fonts/TradeGothicLTCom-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/TradeGothicLTCom-Bold.woff') format('woff'),
       url('fonts/TradeGothicLTCom-Bold.ttf')  format('truetype'),
       url('fonts/TradeGothicLTCom-Bold.svg#07323e387d28f05602e8129f94889c32') format('svg');

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Trade Gothic W01 Cn 18';
  src: url('fonts/TradeGothicLTCom-Cn18.eot');
  src: url('fonts/TradeGothicLTCom-Cn18.eot?#iefix') format('embedded-opentype'),
       url('fonts/TradeGothicLTCom-Cn18.woff') format('woff'),
       url('fonts/TradeGothicLTCom-Cn18.ttf')  format('truetype'),
       url('fonts/TradeGothicLTCom-Cn18.svg#15583f9881ca4f9e157dff5a10f014e4') format('svg');

  font-style:   normal;
  font-weight:  400;
}
*/
.global-content-stream .stream-article .article-text h2 {
	float:none;
}
.header-full{padding-left:30px!important;}
.drop{margin-right:40px!important;}
.icon-ml-share-01 {
	background-image: url('img/icons/share-header.png') !important;
	width:24px;
	height:24px;
	display:block;
}

.icon-ml-share-01:hover {
	background-image: url('img/icons/share-header-purple.png') !important;
	width:24px;
	height:24px;
	display:block;
}

.icon-ml-email-01 {
	background-image: url('img/icons/email-header.png') !important;
	width:24px;
	height:21px;
	display:block;
}

.iframe-container {
    position: relative !important;
    padding-bottom: 70% !important;
    height: 0 !important;
    overflow: hidden !important;
}

.iframe-container iframe {
    position: absolute !important;
    top:0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right !important;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left !important;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right !important;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left !important;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}



.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: red;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

.twitter-tweet-rendered {
	margin-right: auto !important;
	margin-left: auto !important;
}

.fit-embeded {
	margin-bottom: 20px;
}
/* Shadowbox */
#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}#sb-overlay{position:relative;height:100%;width:100%;}#sb-wrapper{position:absolute;visibility:hidden;width:100px;}#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}#sb-body{position:relative;height:100%;}#sb-body-inner{position:absolute;height:100%;width:100%;margin-top:30px;}#sb-player.html{height:100%;overflow:auto;}#sb-body img{border:none;}#sb-loading{position:relative;height:100%;}#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}#sb-loading-inner span{background:url(img/shadowbox/loading.gif) no-repeat;padding-left:34px;display:inline-block;}#sb-body,#sb-loading{background-color:#060606;}#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}#sb-title,#sb-title-inner{height:26px;line-height:26px;}#sb-title-inner{font-size:16px;}#sb-info,#sb-info-inner{height:20px;line-height:20px;}#sb-info-inner{font-size:12px;}#sb-nav{float:right;height:24px;padding:2px 0;width:45%;}#sb-nav-close{float:right;width:25px;height:24px;display:block;margin: 5px 5px 5px 0px;background: url(img/shadowbox/close.png) 2px 0px no-repeat;cursor:pointer;}#sb-nav-next{background-image:url(img/shadowbox/next.png);}#sb-nav-previous{background-image:url(img/shadowbox/previous.png);}#sb-nav-play{background-image:url(img/shadowbox/play.png);}#sb-nav-pause{background-image:url(img/shadowbox/pause.png);}#sb-counter{float:left;width:45%;}#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}#sb-counter a.sb-counter-current{text-decoration:underline;}div.sb-message{font-size:12px;padding:10px;text-align:center;}div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}

/* alerts */
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:bold}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-dismissable{padding-right:35px}.alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit}.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d}.alert-success hr{border-top-color:#c9e2b3}.alert-success .alert-link{color:#2b542c}.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#31708f}.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}.alert-warning{background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b}.alert-warning hr{border-top-color:#f7e1b5}.alert-warning .alert-link{color:#66512c}.alert-danger{background-color:#f2dede;border-color:#ebccd1;color:#a94442}.alert-danger hr{border-top-color:#e4b9c0}.alert-danger .alert-link{color:#843534}


.subhead {font-weight: 300;}

.instagram-embed { margin: 0 auto; }

img.solutionsctr { width: 150px !important; }

.article-content img { padding: 0; }

.body-content li { font-size: 18px; }

.body-content li a, .body-content p a, .story-box li a, .story-box p a { color: #425E9B; text-decoration: underline; }
.body-content li a:hover, .body-content p a:hover, .story-box li a:hover, .story-box p a:hover { text-decoration: underline; }
#contentTabs li a, #contentTabs li a:hover, .pager li a, .pager li a:hover { text-decoration: none; }
.global-content-stream li a, .global-content-stream li a:hover {text-decoration: none;}
.body-content blockquote { margin-left: 36px; }
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well-sm {
  padding: 9px;
  border-radius: 3px;
}

h2.headline a:hover {text-decoration: underline !important;}
h2.headline a:visited {color: #a8a8a8 !important;}
.secondary.entries h3 {font-size: 18px !important;}
.about-author{min-height:220px!important;}
.about-author h3 {font-size: 18px !important;}
.featured-article a:hover {text-decoration: underline !important;}
footer.site-footer .subscribe .forms form .form-group .btn-default { width: 35% !important; }
footer.site-footer .subscribe .forms form .form-group input { width: 65% !important; }
form#nla .form-group { width: 65% !important; }
form#nla .btn-default { width: 35% !important; }

textarea:focus, input:focus {
    color: #000 !important;
}

input, select, textarea {
    color: #000 !important;
}
form .btn {
	background-color: #1B1464;
	border: medium none;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: "Arial";
	padding: 5px 7px;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media,
.media .media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}

.insta-embeded {position: relative; padding-bottom: 105%; height: 0; overflow: hidden;} .insta-embeded iframe, .insta-embeded object, .insta-embeded embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#nativeAd { text-align: center; }
#nativeSpace { clear: all; }
#nativeAd hr {
	margin-top: -10px;
	margin-bottom: 0px;
	border: 0;
	border-bottom: 1px solid #ccc;}

/* hide the ads */
@media only screen and (max-width: 480px) {
  #leaderboard { display: none; }
  #nativeAd { display: none; }
  #adSpacer { height: 20px; }
}

.content ul li, .content ol li { font-size: 18px; }

.has-border { border: 1px solid black !important; }

.gtkbox {background: #f3f3f3; margin: 0 5px;}
.gtkinside {padding-top: 15px;}

img.aligncenter {margin-left: auto !important; margin-right: auto !important;}

.story-box h1 {font-size: 50px !important;}

.story-box h2.subhead {font-size: 30px !important; font-family: 'Oswald'; font-weight: 200;}

.sidebar-signup {
	padding: 10px !important;
	margin-left: -8px;
	font-weight: bold;
}

.sponsored-dateline p {
	color: #1b1464;
	font-size: 18px;
}

.sponsored-dateline p a, a:visited {
	color: #1b1464;
	font-size: 18px;
	text-decoration: none;
}

.stream-byline a {
	color: #000 !important;
	font-weight: 400 !important;
	text-decoration: none;
}

.author-module .about a, .author-module .about a:visited, .author-content .author .information p a, .author-content .author .information p a:visited {
	color: #80C100;
}

.dmd-assets-btn {
	font-size: 12px !important;
	width: 300px;
	padding: 5px 0 !important;
}

.dmd-assets-btn:visited {
	color: #ffffff !important;
}

.right-rail .right-rail-content .events .btn,
.right-rail .right-rail-content .dmd .btn a:visited {
	color: #ffffff !important;
}

/* Smaller than standard 736 (devices and browsers) */
@media only screen and (max-width: 736px) {
	.phone-logo {
		position: absolute;
		z-index: 1 !important;
	}
	.nav-tabs {
		margin-top: 30px !important;
	}

	.article-content {
		margin-top: 10px !important;
	}
}
.body-content img { margin-bottom: 10px !important; }

.icon-blab-01 {
	background-image: url('/images/icons/blab-icon.png') !important;
	width:13px!important;
	height:13px!important;
	display:block;
}
.icon-snapchat-01 {
	background-image: url('/images/icons/snapchat-icon.png') !important;
	width:13px!important;
	height:13px!important;
	display:block;
}
.icon-podcast-01 {
	background-image: url('/images/icons/podcast-icon.png') !important;
	width:13px!important;
	height:13px!important;
	display:block;
}
.icon-apple-01 {
	background-image: url('/images/icons/ml-apple.png') !important;
	width:13px!important;
	height:13px!important;
	display:block;
}
.icon-android-01 {
	background-image: url('/images/icons/ml-android.png') !important;
	width:13px!important;
	height:13px!important;
	display:block;
}
.mb2{margin-bottom:12px!important;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 650px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.mtClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.smxClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

/* .modal-body {padding: 2px 16px;} */

.modal-footer {
    padding: 2px 16px;
    color: white;
}

@media (min-width: 320px) and (max-width: 414px) { /* iPhone 6+ */
	.story-box h1 {font-size: 40px !important;}
	.subhead {font-size: 16px !important;}
}

/* Marketo Form Styling */
.mktoForm {width: auto !important}
.mktoForm span {margin-left: 8px !important;}
.mktoFormRow {float: left !important;}
.mktoFormCol {margin-bottom: 8px !important;}
.mktoOffset {width: auto !important;}
.mktoGutter {width:0px !important;}
.mktoButton {height: 35px !important;width: 240px !important;margin-left:-10px!important;font-weight: bold !important;border:none!important;}
.mktoForm input[type=email] {height:35px !important;width:500px !important;}
.mktoForm {z-index: 0 !important;}
#mktoForm_5710 .mktoButton{background:#000!important;}
#mktoForm_5713 .mktoButton{background:#000!important;}
#mktoForm_5693 .mktoButton{background:#000!important;}
.mktoForm_5693 .mktoButton{background:#000!important;}
#mktoForm_6740 .mktoButton{background:#000!important;}
#mktoForm_7524 .mktoButton{background:#1b1464!important; color: #FFF!important;}
#mktoForm_8661 .mktoButton{background:#1b1464!important; color: #FFF!important;}
.mktoLabel{width:15px!important;}
.mktoAsterix{display: none !important;}
#mktoForm_5709 {padding-top:20px!important;}
#mktoForm_5709 input[type=email] {width:820px!important;}
#mktoForm_5709 .mktoButton{background:#1b1464!important;}

/* Targets Newsletter page */
#mktoForm_4050 .mktoLabel{width:150px!important;}
#mktoForm_4050 .mktoButton{background:#1b1464!important;margin-left:143px!important;}
#mktoForm_4050 input[type=email] {width:400px!important;}
#mktoForm_4050 .mktoFormRow {float: none !important;}
#mktoForm_9271 .mktoLabel{width:125px!important;}
#mktoForm_9271 .mktoButton{background:#000!important;margin-left:118px!important;font-weight:bold!important;border:none!important;color: #fff!important;text-transform: capitalize;}
#mktoForm_9271 input[name=FirstName]{width:400px!important;height:35px!important;}
#mktoForm_9271 input[type=email]{width:400px!important;height:35px!important;}
#mktoForm_9271 .mktoFormRow{float:none!important;}

@media (max-width: 800px) { /* Small Desktop */
	#mktoForm_5693 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_5693 .mktoButton{margin-left:8px!important;}
	.mktoForm_5693 input[type=email] {width:350px!important;margin-left:0px!important;}
	.mktoForm_5693 .mktoButton{margin-left:8px!important;}
	#mktoForm_5713 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_5713 .mktoButton{margin-left:8px!important;}
	#mktoForm_6740 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_6740 .mktoButton{margin-left:8px!important;}
	#mktoForm_5710 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_5710 .mktoButton{margin-left:8px!important;}
	#mktoForm_7524 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_7524 .mktoButton{margin-left:8px!important;}
	#mktoForm_9271 input[name=FirstName]{width:350px!important;height:35px!important;}
	#mktoForm_9271 input[type=email]{width:350px!important;height:35px!important;}
	#mktoForm_9271 .mktoButton{margin-left:0px!important;}
}

@media (max-width: 768px) { /* iPad Portrait */
	#mktoForm_5693 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_5693 .mktoButton{margin-left:20px!important;}
	.mktoForm_5693 input[type=email] {width:350px!important;margin-left:0px!important;}
	.mktoForm_5693 .mktoButton{margin-left:20px!important;}
	#mktoForm_5713 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_5713 .mktoButton{margin-left:20px!important;}
	#mktoForm_6740 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_6740 .mktoButton{margin-left:20px!important;}
	#mktoForm_5710 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_5710 .mktoButton{margin-left:20px!important;}
	#mktoForm_7524 input[type=email] {width:350px!important;margin-left:0px!important;}
	#mktoForm_7524 .mktoButton{margin-left:20px!important;}
	#mktoForm_9271 input[name=FirstName]{width:250px!important;height:35px!important;}
	#mktoForm_9271 input[type=email]{width:350px!important;height:35px!important;}
	#mktoForm_9271 .mktoButton{margin-left:0px!important;}
}

@media (max-width: 1024px) { /* iPad Landscape */
	#mktoForm_5693 .mktoButton{margin-left:10px!important;}
	.mktoForm_5693 .mktoButton{margin-left:10px!important;}
	#mktoForm_5713 .mktoButton{margin-left:10px!important;}
	#mktoForm_6740 .mktoButton{margin-left:10px!important;}
	#mktoForm_5710 .mktoButton{margin-left:8px!important;}
	#mktoForm_7524 .mktoButton{margin-left:8px!important;}
	#mktoForm_9271 .mktoButton{margin-left:0px!important;}
}

@media (max-width: 414px) { /* iPhone 6+ */
	#mktoForm_5693 input[type=email] {width:320px!important;margin-left:8px!important;}
	#mktoForm_5693 .mktoButton{margin-left:0px!important;}
	.mktoForm_5693 input[type=email] {width:320px!important;margin-left:8px!important;}
	.mktoForm_5693 .mktoButton{margin-left:0px!important;}
	#mktoForm_5713 input[type=email] {width:320px!important;margin-left:8px!important;}
	#mktoForm_5713 .mktoButton{margin-left:0px!important;}
	#mktoForm_6740 input[type=email] {width:320px!important;margin-left:8px!important;}
	#mktoForm_6740 .mktoButton{margin-left:0px!important;}
	#mktoForm_5710 input[type=email] {width:320px!important;margin-left:8px!important;}
	#mktoForm_5710 .mktoButton{margin-left:0px!important;}
	#mktoForm_7524 input[type=email] {width:320px!important;margin-left:8px!important;}
	#mktoForm_7524 .mktoButton{margin-left:0px!important;}
	#mktoForm_9271 input[name=FirstName]{width:320px!important;height:35px!important;}
	#mktoForm_9271 input[type=email]{width:320px!important;height:35px!important;}
	#mktoForm_9271 .mktoButton{margin-left:0px!important;}
}

@media (max-width: 375px) { /* iPhone */
	#mktoForm_5693 input[type=email] {width:281px!important;margin-left:8px!important;}
	#mktoForm_5693 .mktoButton{margin-left:0px!important;}
	.mktoForm_5693 input[type=email] {width:281px!important;margin-left:8px!important;}
	.mktoForm_5693 .mktoButton{margin-left:0px!important;}
	#mktoForm_5713 input[type=email] {width:281px!important;margin-left:8px!important;}
	#mktoForm_5713 .mktoButton{margin-left:0px!important;}
	#mktoForm_6740 input[type=email] {width:281px!important;margin-left:8px!important;}
	#mktoForm_6740 .mktoButton{margin-left:0px!important;}
	#mktoForm_5710 input[type=email] {width:281px!important;margin-left:8px!important;}
	#mktoForm_5710 .mktoButton{margin-left:0px!important;}
	#mktoForm_7524 input[type=email] {width:281px!important;margin-left:8px!important;}
	#mktoForm_7524 .mktoButton{margin-left:0px!important;}
	#mktoForm_9271 input[name=FirstName]{width:281px!important;height:35px!important;}
	#mktoForm_9271 input[type=email]{width:281px!important;height:35px!important;}
	#mktoForm_9271 .mktoButton{margin-left:0px!important;}
}

@media (max-width: 320px) { /* iPhone SE */
	#mktoForm_5693 input[type=email] {width:226px!important;margin-left:8px!important;}
	#mktoForm_5693 .mktoButton{width:226px!important;margin-left:0px!important;}
	.mktoForm_5693 input[type=email] {width:226px!important;margin-left:8px!important;}
	.mktoForm_5693 .mktoButton{width:226px!important;margin-left:0px!important;}
	#mktoForm_5713 input[type=email] {width:226px!important;margin-left:8px!important;}
	#mktoForm_5713 .mktoButton{width:226px!important;margin-left:0px!important;}
	#mktoForm_6740 input[type=email] {width:226px!important;margin-left:8px!important;}
	#mktoForm_6740 .mktoButton{width:226px!important;margin-left:0px!important;}
	#mktoForm_5710 input[type=email] {width:226px!important;margin-left:8px!important;}
	#mktoForm_5710 .mktoButton{width:226px!important;margin-left:0px!important;}
	#mktoForm_7524 input[type=email] {width:226px!important;margin-left:8px!important;}
	#mktoForm_7524 .mktoButton{width:226px!important;margin-left:0px!important;}
	#mktoForm_9271 input[name=FirstName]{width:226!important;height:35px!important;}
	#mktoForm_9271 input[type=email]{width:226!important;height:35px!important;}
	#mktoForm_9271 .mktoButton{margin-left:0px!important;}
}

.moreNews{font-size: 16px;}

/* DMD Buyers Guide Mkto Form Styles */
#mktoForm_6574 .mktoLabel{width:150px!important;}
#mktoForm_6574 .mktoOffset{width:40px!important;}
#mktoForm_6574 input[type=email] {width:135px!important;height:auto!important;}
#mktoForm_6574 .mktoFormRow{float:none!important;}
#mktoForm_6574 .mktoButtonRow{width:100%!important;text-align:center!important;}
#mktoForm_6574 .mktoButton {background-color:#f7bc38!important;}
#mktoForm_6574 .mktoButton:hover {background-color:#fc6700!important;}

#mktoForm_6702 .mktoLabel{width:150px!important;}
#mktoForm_6702 .mktoOffset{width:40px!important;}
#mktoForm_6702 input[type=email] {width:160px!important;height:auto!important;}
#mktoForm_6702 .mktoFormRow{float:none!important;}
#mktoForm_6702 .mktoButtonRow{width:100%!important;text-align:center!important;}
#mktoForm_6702 .mktoButton {background-color:#f7bc38!important;}
#mktoForm_6702 .mktoButton:hover {background-color:#fc6700!important;}


@media only screen and (max-width: 480px) {
	#mktoForm_6574 input[type=email] {width:100%!important;height:1.5em!important;}
	#mktoForm_6702 input[type=email] {width:100%!important;height:1.5em!important;}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
	#mktoForm_6574 .mktoHtmlText {width:100%!important;text-align:center!important;}
	#mktoForm_6702 .mktoHtmlText {width:100%!important;text-align:center!important;}
}

.panel-body p {
  color: #000 !important;
}

.textlabel {
    border: 1px solid #000;
  }

.textlabel {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

a.textlabel:hover,
a.textlabel:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.textlabel:empty {
  display: none;
}

.textlabel-default {
  background-color: #777;
}
.textlabel-default[href]:hover,
.textlabel-default[href]:focus {
  background-color: #5e5e5e;
}
.textlabel-primary {
  background-color: #337ab7;
}
.textlabel-primary[href]:hover,
.textlabel-primary[href]:focus {
  background-color: #286090;
}
.textlabel-success {
  background-color: #5cb85c;
}
.textlabel-success[href]:hover,
.textlabel-success[href]:focus {
  background-color: #449d44;
}
.textlabel-info {
  background-color: #5bc0de;
}
.textlabel-info[href]:hover,
.textlabel-info[href]:focus {
  background-color: #31b0d5;
}
.textlabel-warning {
  background-color: #f0ad4e;
}
.textlabel-warning[href]:hover,
.textlabel-warning[href]:focus {
  background-color: #ec971f;
}
.textlabel-danger {
  background-color: #d9534f;
}
.textlabel-danger[href]:hover,
.textlabel-danger[href]:focus {
  background-color: #c9302c;
}

.textlabel-standard {
  background-color: #1b1464;
}
.textlabel-standard[href]:hover,
.textlabel-standard[href]:focus {
  background-color: #1b1464;
}

.quote-open {
  display: inline-block;
  background-image: url(/wp-content/themes/marketingland/img/icons/fancy-left-quotes.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right:4px;
}

.quote-close {
  display: inline-block;
  background-image: url(/wp-content/themes/marketingland/img/icons/fancy-right-quotes.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-left:4px;
}

.leaderboard-wide {
    width: 970px;
    margin: auto;
  }

@media (min-width: 415px) and (max-width: 768px) {
  .leaderboard-wide {
    width: unset;
    margin: auto;
  }
}
.sprite { background: url('/wp-content/themes/marketingland/img/icons/sprite.png') no-repeat top left; width: 24px; height: 24px;  }.sprite.email-24x24 { background-position: 0 0; margin:0px 5px 0px 5px;}.sprite.feeds_24x24 { background-position: 0 -34px; margin:0px 10px 0px 5px;}.sprite.linkedin_24x24 { background-position: 0 -68px; margin: 0px 5px 0px 10px;}.sprite.sel-android { background-position: 0 -102px; width: 13px; height: 13px; }.sprite.sel-apple { background-position: 0 -125px; width: 13px; height: 13px; }.sprite.share-header { background-position: 0 -148px; }

/*parallax styles*/
.parallax_img {
  display: none;
}

.parallax-active  .parallax_img {
    height: 500px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
  }

.parallax-active .parallax_img a {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


@media screen and (min-width: 300px) and (max-width: 768px) {
  .stickyheader-mobile {
      position: fixed;
      top: 0;
      height: 0;
  }
  .parallax-active .parallax_img {
      display: none;
  }
}

@media screen and (min-width: 769px) {
  .stickyheader-mobile {
  }

  .parallax-active .stickyheader {
    top: inherit !important;
    position: inherit !important;
  }
}

.parallax-active .scrolling-nav-top {

  top: 0 !important;
  position: fixed !important;

}

body .main-container-wrap {
  top: -4px !important;
}

@media (min-width: 768px) {
  .outer-header-container .container .navbar-header {
      background-color: inherit !important;
  }
}

.navbar-default {
    background-color: inherit !important;
}

@media (min-width: 768px) {
  .outer-header-container .container {
      background-color: inherit !important;
  }
}

/* MKTO API Form Styles Start */
.special {display:none;}

.articleEmail{width:510px!important;height:34px!important;margin-left:15px!important;border-radius:0px!important;margin-right:0px!important;padding-right:-50px!important;}
.articleButton{background:#1b1464!important;margin-left:-5px!important;height:34px!important;font-weight:bold!important;border:none!important;background-color:#000!important;width:240px!important;color: #fff!important;border-radius: 0px!important;font-size:14px!important;}
.footerEmail{height:34px!important;margin-left:15px!important;border-radius:0px!important;margin-right:0px!important;padding-right:-50px!important;}
.footerButton{background:#1b1464!important;margin-left:-5px!important;height:34px!important;font-weight:bold!important;border:none!important;background-color:#000!important;width:240px!important;color: #fff!important;border-radius: 0px!important;font-size:14px!important;}
.headerEmail{width:810px!important;height:34px!important;margin-left:15px!important;margin-top:20px;border-radius:0px!important;margin-right:0px!important;padding-right:-50px!important;}
.headerButton{background:#1b1464!important;margin-left:10px!important;margin-top:20px;height:34px!important;font-weight:bold!important;border:none!important;background-color:#1b1464!important;width:240px!important;color: #fff!important;border-radius: 0px!important;font-size:14px!important;}
.mosaicEmail{width:242px!important;height:34px!important;margin-left:15px!important;margin-top:5px;border-radius:0px!important;margin-right:0px!important;padding-right:-50px!important;}
.mosaicButton{background:#000!important;margin-left:30px!important;margin-top:-5px;height:34px!important;font-weight:bold!important;border:none!important;width:242px!important;color: #fff!important;border-radius: 0px!important;font-size:14px!important;}
.nlEmail{max-width:510px!important;height:34px!important;border-radius:0px!important;margin-right:0px!important;}
.nlName{max-width:510px!important;height:34px!important;border-radius:0px!important;margin-right:0px!important;}
.nlButton{background:#1b1464!important;height:34px!important;font-weight:bold!important;border:none!important;background-color:#000!important;width:250px!important;color: #fff!important;border-radius: 0px!important;font-size:14px!important;}
@media only screen and (max-width: 800px) { /* Small Desktop */
	.articleEmail {width:350px!important;margin-left:0px!important;}
	.articleButton{margin-left:8px!important;}
}

@media only screen and (max-width: 768px) { /* iPad Portrait */
	.articleEmail {width:350px!important;margin-left:0px!important;}
	.articleButton{margin-left:20px!important;}
}

@media only screen and (max-width: 1024px) { /* iPad Landscape */
	.articleButton{width:150px!important;margin-left:10px!important;}
	.articleButton{margin-left:10px!important;}
}

@media only screen and (max-width: 414px) { /* iPhone 6+ */
	.articleEmail {width:320px!important;margin-left:8px!important;}
	.articleButton{margin-left:24px!important;margin-bottom:15px!important;}
	.footerEmail {width:320px!important;margin-left:8px!important;}
	.footerButton {margin-left:25px!important;}
}

@media only screen and (max-width: 375px) { /* iPhone */
	.articleEmail {width:281px!important;margin-left:8px!important;}
	.articleButton{margin-left:24px!important;}
	.footerEmail {width:290px!important;margin-left:8px!important;}
	.footerButton{margin-left:24px!important;}
}

@media only screen and (max-width: 320px) { /* iPhone SE */
	.articleEmail {width:226px!important;margin-left:8px!important;}
	.articleButton{width:226px!important;margin-left:22px!important;}
}
/* MKTO API Form Styles End */

.homepage-masthead {
    display: block;
    clear: both;
    margin: 0 auto;
    max-width: 1500px;
    padding-top: 25px;
}

.homepage-masthead .featured-left-headline {
  display: block;
  font-family: Oswald;
  font-size: 2em;
  /*color: #000;*/
  margin: 0;
  line-height: 1.3em;
  letter-spacing: -.025em;
}

.homepage-masthead .featured-left-tldr {
  display: block;
  font-family: Oswald;
  font-size: 1.3em;
  color: #000;
  clear: both;
  margin: 0 0 10px 0;
  line-height: 1.3em;
  font-weight: lighter;
  padding-top: 10px;
}

.homepage-masthead .featured-left-byline, .center-byline {
  display: block;
  font-size: 1em;
  font-family: 'Roboto';
  margin: 0;
  line-height: 1.3em;
  color: #000 !important;
}

.center-features-container {
    margin: auto;
    clear:both;
}
.center-features-img {
    
}
.center-features-text {
   
}

.center-features-title {

  font-family: Oswald;
  font-size: 1.3em;
  /*color: #000;*/
  margin: 0;
  line-height: 1.3em;
  /*font-weight: lighter;*/
  padding-top: 10px;
  letter-spacing: -.025em;

}

.masthead-column {
  display: table-cell;
}

.masthead-form {
  width: 300px !important;
/*   border: solid 1px #ccc; */
	background-color: rgba(27,20,100,.1) !important;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
}

.masthead-form .mktoForm input[type=email] {
  width: 240px !important;
  margin-left:20px;
  margin-top: 5px;
}

.masthead-form .mktoButtonRow {
  margin-left:20px;
}

.masthead-form .mktoForm label {
  display: none !important;
}

.masthead-form-text {
  font-family: Oswald;
  font-size: 1.1em;
  color: #000;
  margin: 0;
  line-height: 1.3em;
  font-weight: lighter;
  margin-bottom: 5px;
}
.article-content > .story-box h1 {
	font-weight:400!important;
}

.center-features-text a { 
  color: #000 !important;
}

.center-features-text a:hover { 
  color: #1b1464 !important;
  text-decoration: underline !important;
}

.featured-left-content a { 
  color: #000 !important;
}

.featured-left-content a:hover { 
  color: #1b1464 !important;
  text-decoration: underline !important;
}

section.sharing_controls.mode_inline ul li {
  clear: none;
}

ul.post-list li {

  margin-bottom: 0px !important;
}

.show-section {

  visibility: visible;
}

.hide-section {

  display: none;
}
.mr0{margin-right:0 !important}.ml0{margin-left:0 !important}.p0{padding:0px}.pt0{padding-top:0px}.pb0{padding-bottom:0px}.m0{margin:0px}.mt0{margin-top:0px}.mb0{margin-bottom:0px}.ml0{margin-left:0px}.mr0{margin-right:0px}.pl0{padding-left:0px}.pr0{padding-right:0px}.p1{padding:6px}.pt1{padding-top:6px}.pb1{padding-bottom:6px}.m1{margin:6px}.mt1{margin-top:6px}.mb1{margin-bottom:6px}.ml1{margin-left:6px}.mr1{margin-right:6px}.pl1{padding-left:6px}.pr1{padding-right:6px}.p2{padding:12px}.pt2{padding-top:12px}.pb2{padding-bottom:12px}.m2{margin:12px}.mt2{margin-top:12px}.mb2{margin-bottom:12px}.ml2{margin-left:12px}.mr2{margin-right:12px}.pl2{padding-left:12px}.pr2{padding-right:12px}.p3{padding:18px}.pt3{padding-top:18px}.pb3{padding-bottom:18px}.m3{margin:18px}.mt3{margin-top:18px}.mb3{margin-bottom:18px}.ml3{margin-left:18px}.mr3{margin-right:18px}.pl3{padding-left:18px}.pr3{padding-right:18px}.p4{padding:24px}.pt4{padding-top:24px}.pb4{padding-bottom:24px}.m4{margin:24px}.mt4{margin-top:24px}.mb4{margin-bottom:24px}.ml4{margin-left:24px}.mr4{margin-right:24px}.pl4{padding-left:24px}.pr4{padding-right:24px}@media (min-width: 992px){.p0{padding:0px}.pt0{padding-top:0px}.pb0{padding-bottom:0px}.m0{margin:0px}.mt0{margin-top:0px}.mb0{margin-bottom:0px}.ml0{margin-left:0px}.mr0{margin-right:0px}.pl0{padding-left:0px}.pr0{padding-right:0px}.p1{padding:8px}.pt1{padding-top:8px}.pb1{padding-bottom:8px}.m1{margin:8px}.mt1{margin-top:8px}.mb1{margin-bottom:8px}.ml1{margin-left:8px}.mr1{margin-right:8px}.pl1{padding-left:8px}.pr1{padding-right:8px}.p2{padding:16px}.pt2{padding-top:16px}.pb2{padding-bottom:16px}.m2{margin:16px}.mt2{margin-top:16px}.mb2{margin-bottom:16px}.ml2{margin-left:16px}.mr2{margin-right:16px}.pl2{padding-left:16px}.pr2{padding-right:16px}.p3{padding:24px}.pt3{padding-top:24px}.pb3{padding-bottom:24px}.m3{margin:24px}.mt3{margin-top:24px}.mb3{margin-bottom:24px}.ml3{margin-left:24px}.mr3{margin-right:24px}.pl3{padding-left:24px}.pr3{padding-right:24px}.p4{padding:32px}.pt4{padding-top:32px}.pb4{padding-bottom:32px}.m4{margin:32px}.mt4{margin-top:32px}.mb4{margin-bottom:32px}.ml4{margin-left:32px}.mr4{margin-right:32px}.pl4{padding-left:32px}.pr4{padding-right:32px}}@media (min-width: 1200px){.p0{padding:0px}.pt0{padding-top:0px}.pb0{padding-bottom:0px}.m0{margin:0px}.mt0{margin-top:0px}.mb0{margin-bottom:0px}.ml0{margin-left:0px}.mr0{margin-right:0px}.pl0{padding-left:0px}.pr0{padding-right:0px}.p1{padding:10px}.pt1{padding-top:10px}.pb1{padding-bottom:10px}.m1{margin:10px}.mt1{margin-top:10px}.mb1{margin-bottom:10px}.ml1{margin-left:10px}.mr1{margin-right:10px}.pl1{padding-left:10px}.pr1{padding-right:10px}.p2{padding:20px}.pt2{padding-top:20px}.pb2{padding-bottom:20px}.m2{margin:20px}.mt2{margin-top:20px}.mb2{margin-bottom:20px}.ml2{margin-left:20px}.mr2{margin-right:20px}.pl2{padding-left:20px}.pr2{padding-right:20px}.p3{padding:30px}.pt3{padding-top:30px}.pb3{padding-bottom:30px}.m3{margin:30px}.mt3{margin-top:30px}.mb3{margin-bottom:30px}.ml3{margin-left:30px}.mr3{margin-right:30px}.pl3{padding-left:30px}.pr3{padding-right:30px}.p4{padding:40px}.pt4{padding-top:40px}.pb4{padding-bottom:40px}.m4{margin:40px}.mt4{margin-top:40px}.mb4{margin-bottom:40px}.ml4{margin-left:40px}.mr4{margin-right:40px}.pl4{padding-left:40px}.pr4{padding-right:40px}}